* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #333;
	
	
	font-family: "Times New Roman", Georgia, Serif;;
	font-size: 20px;

	text-align: center;
	padding: 10px;
}

img {
	display: block;
	margin: 10px auto;
}
p {
	text-align: justify;
	padding: 5px 0;
}
.chapter-number {
	color: red;
	text-transform: uppercase;
	text-align: center;
}
.chapter-title {
	color: blue;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.comment {
	font-size: 18px;
	color: #e7a83d;
	text-align: center;
}
.poem {
	font-style: italic;
	text-indent: 32px;
}

article {
	//min-height: 570px;
	//border-bottom: 1px solid black;
	width: 700px;
	margin: 0px auto;
}
.page {
	// Phai thiet lap gia tri tuyet doi bang pixel
	width: 700px;
	text-align: justify;
}
.controller {
	padding: 5px;

	
}

#prevButton {
	position: absolute;
	left: 10px;
	top: 50%;
}

#nextButton {
	position: absolute;
	right: 10px;
	top: 50%;
}

#pageNumber {
	
	position: absolute;
	left: 50%;
	bottom: 5px;
}