html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around; background-color: #212121; }
.main-content {
	padding: 5px 5px 5px 15px;
	@media (min-width: 768px) { width: 550px; margin: 0 auto; }
	.logo { width: 128px; height: 128px; }

	.full-name { font-weight: 300; color: #55acee; margin-bottom: 0; font-size: 24px;
		@media (min-width: 768px) { font-size: 40px; }
        &::before { display: none; }
	}
	.occupation { color: #f6b100; padding-top: 0px; }
	.menu {
        margin-top: 30px; margin-bottom: 40px; font-size: 24px;
		@media (min-width: 768px) { font-size: 40px; }
		ul {
			list-style-type: none; display: inline-block; padding-left: 0;
			li {
				margin-right: 20px;
				a {
					border-bottom: #e000df dashed 1px; color: #e000df; font-weight: 300;
					&:hover { text-decoration: none; }
				}
			}
		}
	}
	.links {
		ul {
			list-style-type: none; padding-left: 0;
			li {
				padding: 0;
				a {
					@media (min-width: 768px) { line-height: 35px; font-size: 1.8em; }
					.fa {
                        @media (min-width: 768px) { width: 35px; height: 35px; }
					}
					&:hover { text-decoration: none; }
					&.email { color: #ee3724; }
					&.facebook { color: #3C599F; }
					&.github { /*color: #070709;*/ color: #DDD; }
					&.phone { color: #19a84c; }
				}
			}
		}
	}
}
