.main {
  display: flex;
}
.left-panel {
  flex: 1;
  padding-right: 10px;
}
.left-panel #query {
  background-position-x: 8px;
  font-size: 16px;
  padding: 12px 30px 12px 0px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: auto;
}
.left-panel .list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.left-panel .list li {
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.left-panel .list li .thumb {
  display: inline-block;
  width: 48px;
  margin-top: 10px;
  margin-right: 10px;
}
.left-panel .list li .info {
  margin-bottom: 30px;
}
.left-panel .list li .info .bookmark {
  margin-right: 10px;
}
.left-panel .list li .info .title {
  color: #212529;
  font-weight: 500;
}
@media (min-width: 768px) {
  .left-panel .list li .info .title {
    font-size: 20px;
  }
}
.left-panel .list li .info .path {
  font-size: smaller;
  color: #e000df;
  color: #212529;
  margin-top: 10px;
  display: block;
}
.left-panel .list li .info .description {
  font-size: 14px;
  color: #6c757d;
}
.left-panel .list li .highlight {
  color: #E0B750;
  color: #19a84c;
}
.right-panel {
  display: none;
}
.right-panel #chart {
  width: 300px;
  height: 300px;
}
@media (min-width: 768px) {
  .right-panel {
    display: block;
  }
}
