.main {
  display: flex;
}
.left-panel {
  flex: 1;
  padding-right: 10px;
}
.left-panel #query {
  background: none;
  color: #FFF;
  border: 1px solid #393E44;
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: auto;
}
.left-panel #query:focus {
  border-color: #FFF;
}
.left-panel .list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.left-panel .list li {
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.left-panel .list li .thumb {
  display: inline-block;
  width: 48px;
  margin-top: 10px;
  margin-right: 10px;
  filter: grayscale(100%);
}
.left-panel .list li .info {
  margin-left: 15px;
}
.left-panel .list li .info .bookmark {
  margin-right: 10px;
}
.left-panel .list li .info .title {
  font-weight: 500;
}
@media (min-width: 768px) {
  .left-panel .list li .info .title {
    font-size: 18px;
  }
}
.left-panel .list li .info .path {
  font-size: smaller;
}
.left-panel .list li .info .description {
  font-size: 14px;
}
.left-panel .list li .highlight {
  color: #E0B750;
}
.right-panel {
  display: none;
}
.right-panel #chart {
  width: 300px;
  height: 300px;
}
@media (min-width: 768px) {
  .right-panel {
    display: block;
  }
}
