.pull-left {
  float: left !important;
}
.pull-right {
  /*float: right !important;*/
}
.paginationWrapper .total-number {
  margin-top: 26px;
}
.paginationWrapper .noRecord {
  color: #F00;
}
.pagination {
  list-style: none;
}
.pagination li {
  float: left;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination > :not(.active) > a:hover {
  background-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #fff;
  cursor: default;
  background-color: #337ab7;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.list {
  margin: 0;
  padding: 0;
}
.list li {
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.list li .thumb {
  display: inline-block;
  width: 32px;
  margin-top: 10px;
  margin-right: 10px;
}
.list li .info {
  margin-left: 15px;
}
.list li .info a.title {
  color: #777;
  font-weight: 500;
  display: inline-block;
}
@media (min-width: 768px) {
  .list li .info a.title {
    font-size: 18px;
  }
}
.list li .info img.lang {
  vertical-align: super;
}
.list li .info ul.tags li a {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
}
.sidebar {
  position: absolute;
  right: 0;
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
.sidebar .the-cat {
  margin-top: 30px;
  width: 240px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
  display: block;
}
.sidebar a {
  color: #777;
}
[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}
.text {
  /*background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235eba00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'><polyline points='20 6 9 17 4 12'></polyline></svg>") no-repeat center right 0.5rem/1rem;*/
  background: url('data:image/svg+xml;charset=utf8,<svg height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#929292" id="icon-111-search"><path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z"/></g></g></svg>') no-repeat center right 0.41666667px;
  /*background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23cd201f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>") no-repeat center right 0.5rem/1rem;*/
  display: block;
  width: 240px;
  padding: 0.375rem 0.75rem;
  padding-right: 40px;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 20px;
}
