.main {
    display: flex;
}

.left-panel {
    flex: 1;
    padding-right: 10px;

    #query {
        background: none;
        color: #FFF;
        border: 1px solid #393E44;
        width: 100%;
        font-size: 16px;
        padding: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
        height: auto;

        &:focus {
            border-color: #FFF;
        }
    }

    #isBookmark {

    }

    // Danh sách các bài viết
    .list {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        
        li {
            list-style-type: none; margin-bottom: 20px; display: flex; align-items: flex-start;
            .thumb {
                display: inline-block;
                width: 48px;
                margin-top: 10px;
                margin-right: 10px;
                filter: grayscale(100%);
            }
            .info {
                margin-left: 15px;
                .bookmark { margin-right: 10px; }
                .title {
                    font-weight: 500;
                    @media (min-width: 768px) {
                        font-size: 18px;
                    }
                }

                .path {
                    font-size: smaller;
                }

                .description {
                    font-size: 14px;
                }
            }
            .highlight { color: #E0B750; }
        }
    }
}

.right-panel {
    display: none;

    #chart { width: 300px; height: 300px; }

    @media (min-width: 768px) {
        display: block;
    }
}


