// Biến
@maxWidth: 900px;

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; border: 0 none; vertical-align: baseline; }
body {
	// Mau nhat ty nhin se diu, de chiu
	color: #444;
	font-family: Verdana, sans-serif;
	//font-family: 'Roboto', sans-serif;
	font-family:
		// Safari for OS X and iOS (San Francisco)
		-apple-system,
		// Chrome < 56 for OS X (San Francisco)
		BlinkMacSystemFont,
		// Windows
		"Segoe UI",
		// Android
		"Roboto",
		// Basic web fallback
		"Helvetica Neue", Arial, sans-serif;
	font-size: 15px; line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 { font-weight: 500; color: red; margin: 10px 0; }

a {
	text-decoration: none; outline: none;
	&:hover { text-decoration: underline; }
}
img { height: auto; max-width: 100%; }
ul, ol { padding-left: 25px; }
p { padding: 5px 0; }
table { border-collapse: collapse; }
td, th { border: 1px solid #c0c0c0; padding: 5px; }

pre > code { display: block; overflow-x: auto;}
code { font-family: monospaced; color: red; }

button { border-radius: 4px; border: 1px solid #777; padding: 7px 25px; cursor: pointer; }

// Chỉnh sửa lại một danh sách thành chiều ngang
.no-list-style {
    padding-left: 0;
    &::after { content: ''; display: table; clear: both; }
    li { list-style-type: none; float: left; }
}

.text-center { text-align: center; }

.mw { max-width: 1200px; margin: 0 auto; }

// Các thành phần
header {
	//background-color: rgb(63, 81, 181);
	font-family: Orbitron, sans-serif; letter-spacing: 5px; padding: 10px; font-weight: 400; max-width: @maxWidth; margin: 0 auto;
	//height: 100px; position: absolute; top: 0; left: 0; width: 100%;
    @media (min-width: 768px) {
        margin-top: 30px;
    }

	a {
		display: inline-block; position: relative; color: rgb(63, 81, 181);
		&:hover { text-decoration: none; }		
		&::before { background-color: rgb(63, 81, 181); bottom: 0; content: ""; height: 2px; left: 0; position: absolute; transform: scaleX(0); transition: all 0.3s ease-out 0s; visibility: none; width: 100%; }
		&:hover::before { transform: scaleX(1); visibility: visible; }
	}
		
	#logo { font-size: 22px; float: left; }
	#menu {
        font-size: 18px; float: right;
		ul { list-style-type: none; display: inline-block; }
	}
	&::after { content: ""; clear: both; display: table; }
}

// Tất cả các bài viết đều ở trong một thẻ article
article {
    padding: 10px; max-width: @maxWidth; margin: 10px auto 0;	
	p { text-align: justify; }
}

.fb-comments { max-width: 700px; margin: 15px auto 0; }

footer { padding: 20px; font-size: 13px; text-align: center; }

@font-face { font-family: 'Orbitron'; font-style: normal; font-weight: 400; src: local('Orbitron-Light'), local('Orbitron-Regular'), url(../fonts/orbitron.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

