// Biến
@TABLET_WIDTH: 768px;
@maxWidth: 900px;

:root {
    --header-height: 45px;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; border: 0 none; vertical-align: baseline; }
body {
	// Mau nhat ty nhin se diu, de chiu
	background-color: #222529; /* Sắc đen 1 */
	color: #FFF; /* Màu 1, trắng */
	font-family: Verdana, sans-serif;
	//font-family: 'Roboto', sans-serif;
	font-family:
		// Safari for OS X and iOS (San Francisco)
		-apple-system,
		// Chrome < 56 for OS X (San Francisco)
		BlinkMacSystemFont,
		// Windows
		"Segoe UI",
		// Android
		"Roboto",
		// Basic web fallback
		"Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.75;
	padding-top: var(--header-height);

	@media (min-width: @TABLET_WIDTH) {
		padding-top: 0;
	}
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    background-color: #393E44; /* Sắc đen 3 */
	color: #FFF; /* Màu 1, trắng */
	margin: 10px -15px;
	padding: 0 10px;
	//&:before { color: #CCC; margin-right: 10px; content: "#"; }
}

a {
	text-decoration: none; outline: none; word-wrap: break-word;
    color: #4ED8DA; /* Màu 2, xanh */

	&:hover { text-decoration: underline; }
}
img { height: auto; max-width: 100%; }
ul, ol { padding-left: 25px; }
p { padding: 5px 0; word-wrap: break-word; }
table { border-collapse: collapse; }
td, th { border: 1px solid #c0c0c0; padding: 5px; }


pre > code { display: block; overflow-x: auto; margin: -10px; padding: 15px !important; }
code { font-family: monospaced; color: #E06950; }
pre { display: block; overflow-x: auto; font-family: monospace; font-size: 13px; color: red; background-color: #EEE; padding: 10px; }

button {
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    cursor: pointer;
    margin: 0 8px;
    min-width: 64px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.2s;

    &:hover, &:focus {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
}

input[type=text], input[type=password], input[type=tel], input[type=url], input[type=number] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 34px;
  padding: 6px 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
	
  &:focus {
    outline: none;
    border-bottom-color: blue;
  }
}

textarea {
    width: 100%;
	  padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	  overflow: auto;
    resize: vertical;
}

select {
    background-color: transparent;
    appearance: none;
    padding: 4px 0 4px 4px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);

    &:focus {
        outline: none;
    }
}


// Chỉnh sửa lại một danh sách thành chiều ngang
.no-list-style {
    padding-left: 0;
    &::after { content: ''; display: table; clear: both; }
    li { list-style-type: none; float: left; }
}

.text-center { text-align: center; }

.mw { max-width: 1200px; margin: 0 auto; }

.word-wrap { word-wrap: break-word;  }

// Các thành phần
header {
	//background-color: #4ED8DA;
	font-family: Orbitron, sans-serif; letter-spacing: 5px; padding: 10px; font-weight: 400; max-width: @maxWidth;
    margin: 0 auto;
    margin-bottom: 40px;
	//height: 100px; position: absolute; top: 0; left: 0; width: 100%;
	display: none;
    

	@media (min-width: @TABLET_WIDTH) {		
		display: block;
		margin-top: 30px;
	}

	a {
		display: inline-block;
        position: relative;
        color: #4ED8DA;

		&:hover {
            text-decoration: none;
        }
		&::before { background-color: #4ED8DA; bottom: 0; content: ""; height: 2px; left: 0; position: absolute; transform: scaleX(0); transition: all 0.3s ease-out 0s; visibility: none; width: 100%; }
		&:hover::before { transform: scaleX(1); visibility: visible; }
	}
		
	#logo { font-size: 22px; float: left; }
	#menu {
        font-size: 18px; float: right;
		ul { list-style-type: none; display: inline-block; }
	}
	&::after { content: ""; clear: both; display: table; }
}

// Tất cả các bài viết đều ở trong một thẻ article
article {
    max-width: @maxWidth;
    margin: 10px auto 20px;
    background-color: #2D3136; /* Sắc đen 2 */
	padding: 0 15px 15px;

	p { text-align: justify; }
}

.fb-comments { max-width: 700px; margin: 15px auto 0; }

footer { padding: 20px; font-size: 13px; text-align: center; }

@font-face { font-family: 'Orbitron'; font-style: normal; font-weight: 400; src: local('Orbitron-Light'), local('Orbitron-Regular'), url(../fonts/orbitron.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

.file-icon { padding: 5px 0 5px 22px; background-size: 16px 16px; background-color: transparent; background-repeat: no-repeat; background-position: center left; background-size: 16px 16px; }
a[href$='.zip'], a[href$='.rar'] { .file-icon; background-image: url(/images/file-zip.png); }
a[href$='.py'] { .file-icon; background-image: url(/images/file-py.png); }

.subHeader {
	position: fixed;
    background: #393E44;
    height: var(--header-height);
    top: 0;
    transition: top 0.2s ease-in-out;
	width: 100%;
    border-bottom: 1px solid #999;
    z-index: 10;

	&.nav-hide {
        top:  ~"calc(var(--header-height) * -1)";
    }

	@media (min-width: @TABLET_WIDTH) {
		display: none;
	}

	.headRow {
		display:flex;
        justify-content: space-around;
        align-items: center;

		.logo {
            width: 50px;
            text-align: center;
            padding-top: 10px;
        }
        .link {
			text-align: center;
			a {
                text-transform: uppercase;
                font-weight: 500;
            }
		}

	}
}  

.float-button {
	position: fixed; background: yellow; border: 1px solid #666; cursor: pointer; bottom: 80px; right: 10px; width: 46px; height: 46px; padding: 10px;
	opacity: 1; text-align: center; transition: all 0.35s ease-in-out;
	&.float-hide { right: -55px; opacity: 0; }
}

input.text2 {
	background: url('data:image/svg+xml;charset=utf8,<svg height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#929292" id="icon-111-search"><path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z"/></g></g></svg>') no-repeat center right 0.41666667px;

    padding-left: 0.75rem;
    padding-right: 40px;
    background-color: #fff;

    border-bottom: none;
}

.my-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-left   { position:fixed; z-index:9999; display: none; top:0; left:0; }
.banner-right  { position:fixed; z-index:9999; display: none; top:0; right:0; }
.banner-top    { margin: 30px 10px 20px 10px; }
.banner-bottom { position:fixed; z-index:9999; bottom:20px; left: 50%; transform:translateX(-50%); }

@media (min-width: 1200px) {
    .banner-left, .banner-right {
		display: inline;
    }
}

