:root {
  --bg: #353539;
  --alt: #ad4375;
  --text: #fff;
  --opacity: .9;
  --accent: #8fd1f2;
  --shadow: rgba(0, 0, 0, .35);
  --dink: 5px;
  --ani: 150ms cubic-bezier(.5, 0, .6, 1.3) 1ms forwards;
}

@-webkit-keyframes tips-vert {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes tips-vert {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@-webkit-keyframes tips-horz {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@keyframes tips-horz {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@-webkit-keyframes tips-diag-right {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(-1em, 0);
            transform: translate(-1em, 0);
  }
}
@keyframes tips-diag-right {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(-1em, 0);
            transform: translate(-1em, 0);
  }
}
@-webkit-keyframes tips-diag-left {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(1em, 0);
            transform: translate(1em, 0);
  }
}
@keyframes tips-diag-left {
  to {
    opacity: var(--opacity);
    -webkit-transform: translate(1em, 0);
            transform: translate(1em, 0);
  }
}
[tooltip] {
  position: relative;
}
[tooltip]::before, [tooltip]::after {
  text-transform: none;
  line-height: 1;
  font-size: .9em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: var(--dink) solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3em;
  box-shadow: 0 1em 2em -0.5em var(--shadow);
  background: var(--bg);
  color: var(--text);
  z-index: 1000;
}
[tooltip]:hover::before, [tooltip]:hover::after {
  display: block;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--bg);
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + var(--dink));
}
[tooltip]:not([flow])::before, [tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.5em);
          transform: translate(-50%, 0.5em);
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--bg);
}
[tooltip][flow^="down"]::after {
  top: calc(100% + var(--dink));
}
[tooltip][flow^="down"]::before, [tooltip][flow^="down"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
          transform: translate(-50%, -0.5em);
}

[tooltip][flow$="-left"]::after {
  right: 50%;
  left: auto;
}

[tooltip][flow="up-left"]::after {
  -webkit-transform: translate(1.5em, 0.5em);
          transform: translate(1.5em, 0.5em);
}

[tooltip][flow="down-left"]::after {
  -webkit-transform: translate(1.5em, -0.5em);
          transform: translate(1.5em, -0.5em);
}

[tooltip][flow="up-right"]::after {
  -webkit-transform: translate(-1.5em, 0.5em);
          transform: translate(-1.5em, 0.5em);
}

[tooltip][flow="down-right"]::after {
  -webkit-transform: translate(-1.5em, -0.5em);
          transform: translate(-1.5em, -0.5em);
}

[tooltip][flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--bg);
  left: calc(0em - var(--dink));
  -webkit-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}
[tooltip][flow="left"]::after {
  top: 50%;
  right: calc(100% + var(--dink));
  -webkit-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

[tooltip][flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--bg);
  right: calc(0em - var(--dink));
  -webkit-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}
[tooltip][flow="right"]::after {
  top: 50%;
  left: calc(100% + var(--dink));
  -webkit-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

[tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  -webkit-animation: tips-vert var(--ani);
          animation: tips-vert var(--ani);
}

[tooltip][flow$="-right"]:hover::after {
  -webkit-animation: tips-diag-right var(--ani);
          animation: tips-diag-right var(--ani);
}

[tooltip][flow$="-left"]:hover::after {
  -webkit-animation: tips-diag-left var(--ani);
          animation: tips-diag-left var(--ani);
}

[tooltip][flow="left"]:hover::before, [tooltip][flow="left"]:hover::after,
[tooltip][flow="right"]:hover::before,
[tooltip][flow="right"]:hover::after {
  -webkit-animation: tips-horz var(--ani);
          animation: tips-horz var(--ani);
}

[tooltip='']::after, [tooltip='']::before {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: sans-serif;
}
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

main {
  flex: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
}
@media (orientation: portrait) {
  main {
    flex: 3;
  }
}

aside {
  flex: 2;
  background: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}
aside > div {
  flex: 1;
}
@media (orientation: landscape) {
  aside {
    flex: 3;
  }
}

.helper [tooltip] {
  --bg: var(--alt);
}
.helper [tooltip]::before, .helper [tooltip]::after {
  display: block;
  opacity: .8;
}

input {
  font: inherit;
  font-size: calc(.4em + 1vmin);
  color: var(--bg);
  text-align: center;
  border: 0.1em solid var(--shadow);
  border-radius: .3em;
  padding: .5em;
}
input:focus {
  --accent: var(--alt);
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0.5em 0 var(--accent) inset, 0 0 0.1em 0 var(--accent);
}

textarea {
  display: block;
  font-size: calc(.4em + 1vmin);
  text-align: center;
  color: var(--text);
  width: 100%;
  height: 100%;
  font-family: monospace;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
}

label {
  display: inline-block;
  padding: 0 0 1em 0;
}
label span {
  opacity: .4;
  font-size: .8em;
  font-style: italic;
}
