@charset "utf-8";
/* CSS Document */

body{margin:0px;}
#chientranhVT{width:980px; margin:0px auto; min-height:796px; background:url(../images/Chien-tranh-bien-gioi-Viet-Trung-1979-11.02.jpg) no-repeat 0px 0px; position:relative;}
.vungchien{ position:absolute; z-index:2;}
#tx_laichau{width:63px; height:85px; top:315px; left:53px;}
#batxat_laocai{width:122px; height:45px; top:335px; left:115px;}

#hagiang{width:70px; height:85px; top:290px; left:322px;}
#caobang{width:167px; height:43px; top:310px; left:470px;}

#langson{width:132px; height:65px; top:370px; left:601px;}
#mongcai{width:114px; height:90px; top:418px; left:810px;}
.vungchien{ background:url(../images/row_VT.gif) no-repeat center top;}

.fancybox-wrap,.fancybox-inner{width:980px!important; height:796px!important; }
.share_vt{ height:32px; margin:11px 0px 0px 11px; float:left;}
.share_vt a.icon_share_vt{width:32px; height:32px; float:left;}

.phan_vung_tinh{ position:absolute; z-index:1; display:none;}
.tx_laichau{width:172px; height:190px; top:-59px; left:-53px; background:url(../images/laichau_hover.png) no-repeat 0px 0px;}
.laocai{width:188px; height:156px; background:url(../images/laocai_hover.png) no-repeat 0px 0px;top:-65px; left:-11px;}
.hagiang{width:210px; height:150px; background:url(../images/hagiang_hover.png) no-repeat 0px 0px;top:-37px; left:-81px;}
.caobang{width:313px; height:120px; background:url(../images/caobang_hover.png) no-repeat 0px 0px;top:-37px; left:-78px;}
.langson{width:317px; height:140px; background:url(../images/langson_hover.png) no-repeat 0px 0px;top:-26px; left:-65px;}
.mongcai{width:333px; height:189px; background:url(../images/mongcai_hover.png) no-repeat 0px 0px;top:-32px; left:-175px;}
.vungchien:hover .phan_vung_tinh { display:block;}