@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Light Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Semibold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}