@import 'compass';
*, *:after, *:before{
  @include box-sizing(border-box);
    font-family:arial;
}
body{
  background: #4285F4;
  color:#fff;
  padding:100px 0; 
}
section{
  width:33%;
  float:left;
  min-width: 200px;
  margin: 15px auto;
  text-align: center;
}

/*=====================================*/


.dropdown{
  position:relative;
  display: inline-block;
  text-align: left;
  .select{
    background: #fff;
    color:#555;
    border: 1px solid #ddd;
    @include border-radius(4px);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 35px 6px 12px;
    vertical-align: middle;
    white-space: nowrap;
    position:relative;
    min-width: 160px;
  &:after{
    content:'';
    position: absolute;
    border:5px solid rgba(0,0,0,0);
    border-top:5px solid #555;
    top:14px;
    right:10px;
  }
  &:before{
    content:'';
    position: absolute;
    width:1px;
    background:#ddd;
    top:0;
    bottom:0;
    right:30px
  }
}

.option-list{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    @include border-radius(4px);
    @include box-shadow(0 5px 7px rgba(0, 0, 0, 0.17));
    font-size: 14px;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 160px;
    max-height:220px;
    overflow-y:auto;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 100;
    display: none;
    a {
      clear: both;
      color: #333;
      display: block;
      font-weight: 400;
      line-height: 1.42857;
      padding: 3px 20px;
      white-space: nowrap;
      text-decoration: none;
      &:hover {
         background:#4285F4;
        color:#fff
      }
  }
}

.search-box{
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    width: 100%;
    display: none;
    & + .option-list{
      margin-top: 35px;
      @include border-radius(0 0 4px 4px);
      border-top: none;
    }
  }
  .seach-control{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom:none;
    @include border-radius(4px 4px 0 0);
    margin-top: 5px;
    padding: 5px 5px 5px 30px ;

  }
  .search-icon{
    position: absolute;
    width: 13px;
    height: 13px;
    border:2px solid #ccc;
    @include border-radius(100%);
    display: inline-block;
    left: 10px;
    z-index: 2;
    top: 12px;
    &:after{
      content: '';
      width: 3px;
      height: 7px;
      background: #ccc;
      position: absolute;
      top: 7px;
      left: -3px;
      @include rotate(45deg);
    }
  }
}

.dark{
  .select{
    background:#353338;
    color:#eee;
    border-color:#444;
    &:after{border-top-color:#eee;}
    &:before{background:#444;}
  }
.option-list{
  background:#444;
  a{
    color:#eee;
    &:hover{background:#222;}
  }
}
}
.warning{
  .select{
    background:#FFA500;
    color:#eee;
    border-color:#EBA21E;
    &:after{border-top-color:#DD5B26;}
    &:before{background:#EBA21E;}
  }
  .seach-control{
     background:#FFA500;
    color: #fff;
  }
  .search-icon{
    border-color:#fff;
    &:after{background: #fff;}
  }
.option-list{
  background:#FFA500;
  a{
    color:#eee;
    &:hover{background:#DD5B26;}
  }
}
}