*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 none;
    vertical-align: baseline;
}

body {
    color: #FFF;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.75;
    max-width: 900px; 
    margin: 30px auto 50px;
    background-color: #222529;
}

p {
    padding: 5px;
}

a {
    color: #4ED8DA;
    text-decoration: none;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

span[lang="en"] {
    display: none;
}

span[lang="vi"] {
    display: inline;
}
