a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.breadcrumb {
  display: inline-block;
  line-height: 24px;
  z-index: 1;
  font-size: 14px;
}

.breadcrumb ul {
  padding-left: 4px;
}

.breadcrumb ul, .breadcrumb li {
  display: inline-block;
  list-style: none;
}

.breadcrumb li .ellipsis {
  display: inline-block;
  max-width: 160px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb .splitter {
  padding-left: 4px;
  padding-right: 4px;
  color: #666;
}

table, tbody, td, tfoot, th, thead, tr {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  display: table;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table > tbody > tr > td, .table > tbody > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

thead, tbody {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  text-align: left;
  background-color: #f8f8f8;
}

td, th {
  display: table-cell;
  padding: 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.pie-chart {
  height: 600px;
}