body {
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin:0px;
}

/* Styling question */
.dhtmlgoodies_question {
	font-size:0.9em;
	width:410px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:2px;
	background-image:url('images/bg_answer_down.gif');
	background-repeat:no-repeat;
	background-position:top right;	
	height:20px;
	color:#FFF;
	background-color:#317082;	
	overflow:hidden;
	cursor:pointer;
}

.open {
	color:#00FF33;
	background-image:url('images/bg_answer_up.gif');
}

/* Parent box of slide down content */
.dhtmlgoodies_answer {
	border:1px solid #317082;
	background-color:#E2EBED;
	width:400px;
	
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}

/* Content that is slided down */
.dhtmlgoodies_answer_content {
	padding:1px;
	font-size:0.9em;	
	position:relative;
}