body {
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	background:#FF6633;
}

#main {
	width:1000px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}

.container {
	border:1px solid #3399FF;
	margin-bottom:10px;
}

.dhtmlgoodies_question {
	height:20px;
	padding-left:10px;
	font-weight:bold;
	font-size:0.7em;
	margin-bottom:2px;
	background:url(images/background.gif) #009900 repeat-x;
	color:#666666;
	background-color:#317082;	
	overflow:hidden;
	cursor:pointer;
}

.toggleButton {
	float:right;
	background:url(images/show-hide.gif) no-repeat 0px -30px;
	width:15px;
	height:15px;
	margin-top:5px;
	position:absolute;
	top:0px;
	right:10px;
}

.open {
	color:#0000CC;
}

.dhtmlgoodies_answer {
	background:#CCCCCC;
	padding:10px;
	background-color:#E2EBED;	
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}

.dhtmlgoodies_answer_content {
	padding:1px;
	font-size:0.9em;	
	position:relative;
}