@padding: 5px;
@width: 120px;

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	/* If you want dots under the hoverable text */
	border-bottom: 1px dotted black;

	/* Tooltip text */		
	.tooltiptext {
		/* Hidden by default */
		visibility: hidden;

		width: @width;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: @padding;
		padding: @padding 0;

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		
		/* Fade in tooltip */
		opacity: 0;
    transition: opacity 1s;
	}
	
	.right {
		top: -@padding;
    left: 105%;
		
		&::after {
				content: " ";
				position: absolute;
				top: 50%;
				right: 100%; /* To the left of the tooltip */
				margin-top: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent black transparent transparent;
		}
	}
	
	.left {
		top: -@padding;
		right: 105%;
		
		&::after {
			content: " ";
			position: absolute;
			top: 50%;
			left: 100%; /* To the right of the tooltip */
			margin-top: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent transparent black;
		}
	}
	
	.top {
		bottom: 100%;
		left: 50%;
		/* Use half of the width (120/2 = 60), to center the tooltip */
		margin-left: -@width / 2;
		
		&::after {
			content: " ";
			position: absolute;
			top: 100%; /* At the bottom of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	}
	
	.bottom {
		top: 100%;
		left: 50%;
		margin-left: -@width / 2;
		
		&::after {
			content: " ";
			position: absolute;
			bottom: 100%;  /* At the top of the tooltip */
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent black transparent;
		}
	}
} 

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
	.tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}