.tnail
{cursor:hand;}


.hyperlink
{
    FONT-SIZE: smaller;
    COLOR: black;
    FONT-FAMILY: 'Century Gothic';
    TEXT-DECORATION: none
}

.titleLink
{
    FONT-SIZE: smaller;
    COLOR: gray;
    FONT-FAMILY: 'Century Gothic';
    TEXT-DECORATION: none
}
.smalltext
{
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana
}
.widgetTable
{
    BORDER-RIGHT: gray 1px dotted;
    BORDER-TOP: gray 1px dotted;
    BORDER-LEFT: gray 1px dotted;
    WIDTH: 100%;
    BORDER-BOTTOM: gray 1px dotted
}
.widgetTitle
{
    BACKGROUND-IMAGE: images/itle.jpg;
    COLOR: black;
    BORDER-BOTTOM: gray 1px dotted;
    FONT-FAMILY: 'Century Gothic';
    HEIGHT: 0px;
    BACKGROUND-COLOR: skyblue;
    VALIGN: baseline
}
.widgetTDContent
{
    HEIGHT: 0px;
    vAlign: top
}
.widgetDIV
{
    FONT-SIZE: larger;
    OVERFLOW: hidden;
    COLOR: crimson;
    FONT-FAMILY: 'Comic Sans MS', Arial;
    HEIGHT: 180px;
    BACKGROUND-COLOR: white
}
.homeTitle
{
    BORDER-TOP: #ffccff thin dotted;
    BORDER-BOTTOM: #ffccff thin dotted
}
.homeMenu
{
    BORDER-RIGHT: #ffccff thin dotted;
    HEIGHT: 500px
}
.menuItem
{
    BORDER-TOP: #ffccff 1px solid
}
.articleTable
{
    BORDER-RIGHT: gray 1px dotted
}
.articleLink
{
    FONT-SIZE: smaller;
    COLOR: blue;
    FONT-FAMILY: 'Century Gothic'
}
.articleText
{
    FONT-SIZE: 14px;
    COLOR: darkslategray;
    FONT-FAMILY: Verdana, 'Times New Roman'
}
.articleTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 22px;
    COLOR: darkslategray;
    FONT-FAMILY: 'Century Gothic', 'Times New Roman'
}
.articleText A
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    CURSOR: hand;
    COLOR: blue;
    BORDER-BOTTOM: #00cccc 1px dotted;
    TEXT-DECORATION: none
}
.codeGreen
{
    FONT-SIZE: 85%;
    COLOR: green;
    FONT-FAMILY: verdana
}
.centerTable
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    WIDTH: 86%;
    BORDER-BOTTOM: 0px;
    CELLSPACING: 2;
    CELLPADDING: 2;
   
}

.addTD
{
  width: 120px ;
}

.samplecode
{overflow:auto;
width:650px;
background-color: ivory;
border: 1px dotted;
FONT-FAMILY: courier
}

.samplecodeshort
{overflow:auto;
width:550px;
background-color: ivory;
border: 1px dotted;
FONT-FAMILY: courier
}

.contactinfo
{
    FONT-SIZE: 10px;
    COLOR: darkslategray;
    FONT-FAMILY: Verdana, 'Times New Roman';
    background-color: ivory;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    text-align: center;
}

.ttip
{ BORDER-BOTTOM: #00cccc 1px dotted;
  color: red;
  FONT-SIZE: 18px;}