@tablet: ~'(min-width: 768px)';

#mainFrame {
	#listDiv {
		max-height: 550px;
		overflow: hidden;

		p {
			padding-right: 16px;
			//&:hover { padding-right: 0px; }
		}

		&:hover {
			overflow: auto;
		}

		@media @tablet {
			width: 40%;
		}
	}

	#mplayer {		
		#titleDiv {
			color: #009DDE;
			font-size: 16px;
			font-weight: bold;
			height: 20px;
			margin-bottom: 15px;
		}
		#avatar {
			//width: 320px;
			//border-width: 0px;
		}
		audio {
			display: block;
			width: 320px;
			margin-bottom: 20px;
		}
		#authorSpan, #readerSpan {
			font-weight: bold;
			color: cadetblue;
		}
		#descriptionDiv {
			margin-top: 5px;
			//font-style: italic;
		}

		@media @tablet {
			width: 55%;
		}
	}

	@media @tablet {
		flex-direction: row;
		display: flex;
		//flex-direction: column;
		justify-content: space-between;
		
	}
}
