/* some basic styles. nothing to do with flexbox */
header, footer, nav, article, aside {
    border: 1px solid black;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 0.25em;
	font-size: 30px;
}

/*
Force full width & height.

If this block is removed, the layout height/length will be determined by
the amount of content in the page. That might result in a page which has
a footer only a few inches from the top of the viewport, or one which
scrolls beyond the viewport.

This forces the layout to always be full screen regardless of how much,
or how little, content is in place. Neither is "right" or "wrong", there
are valid cases for each. I just want to be clear what's controlling the
page/viewport height.
*/
html, body {
    margin: 0;
}

.h-100 {
    height: 100%;
}

.main {
	/* Khi thực sự quá ngắn thì có scroll dọc */
	min-height: 100%;
}

/* Flex classes */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

/* I went with a fixed height header & footer because it's a common case.
This could easily be altered to flex proportionally with the page.
*/
header, footer {
    height: 100px;
}

section {
    flex: 1;
}

article {
    flex: 5;
}

aside, nav {
    flex: 1;
}

