<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log_path" value="./logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="send_alert"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_path}/send_alert.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log_path}/send_alert.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxHistory>10</maxHistory>
			<MaxFileSize>2MB</MaxFileSize>
		</rollingPolicy>

		<encoder>
			<pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="send_alert_processing"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_path}/send_alert_processing.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log_path}/send_alert_processing.%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<MaxFileSize>2MB</MaxFileSize>
		</rollingPolicy>

		<encoder>
			<pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ERROR_COLLECTING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_path}/send_alert_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log_path}/send_alert_error.%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<MaxFileSize>2MB</MaxFileSize>
		</rollingPolicy>

		<encoder>
			<pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
		</encoder>
	</appender>


	<!-- Setting the logging package level -->
	<logger name="com.ifi.boot" level="debug">
		<appender-ref ref="send_alert" />
	</logger>

	<logger name="com.ifi.boot.processing" level="debug">
		<appender-ref ref="send_alert_processing" />
	</logger>
	
	<logger name="com.ifi.boot.cas" level="debug">
		<appender-ref ref="send_alert_processing" />
	</logger>
	
<!-- 	<logger name="com.ifi.precaculate.cas" level="debug"> -->
<!-- 		<appender-ref ref="precalculate_processing" /> -->
<!-- 	</logger>	 -->

	<!-- Setting the root level of logging -->
<!-- 	<root level="info"> -->
<!-- 		<appender-ref ref="console" /> -->
<!-- 		<appender-ref ref="billy_collect" /> -->
<!-- 	</root> -->
	<root level="ERROR">
<!-- 		<appender-ref ref="console" /> -->
		<appender-ref ref="ERROR_COLLECTING" />
	</root>

</configuration>
