@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
@import url('https://fonts.googleapis.com/css?family=Pacifico')

body
  background-color: #e0e0e0
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  line-height: 21px
  padding: 15px 0

.content
  background: #fff
  border-radius: 3px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375)
  padding: 30px

h1
  color: #333
  font-family: 'Pacifico', cursive
  font-size: 28px
  line-height: 42px
  margin: 0 0 15px
  text-align: center

h2
  border-bottom: 1px solid #ddd
  color: #aaa
  font-size: 12px
  line-height: 24px
  margin: 0 0 15px
  padding: 0
  position: relative
  text-align: center

a
  color: red !important
  font-weight: bold

div[class^="col"]
  margin-bottom: 25px

.bordered
  background: #e2e2e2
  border: 1px solid #ccc
  padding: 5px 10px

.full-width
  width: 100%

[data-tooltip]
  cursor: pointer
  position: relative
  
  &:before, &:after
    position: absolute
    visibility: hidden
    opacity: 0
    pointer-events: none
    transition: all .15s cubic-bezier(.5, 1, .25, 1)
    z-index: 1
  
  &:before
    padding: 5px
    width: 110px
    border-radius: 3px
    background: #000
    color: #fff
    content: attr(data-tooltip)
    text-align: center
    font-size: 14px
    font-weight: normal
    line-height: 1.2
  
  &:after
    border: 8px solid transparent
    width: 0
    content: ""
    font-size: 0
    line-height: 0
  
  /********** Default Behavior **********/
  &:hover:before, &:hover:after
    visibility: visible
    opacity: 1
  
  /********** Timeout Variant **********/
  //@keyframes timeout
    0%
      opacity: 1
      visibility: visible
    99%
      opacity: 1
      visibility: visible
    100%
      opacity: 0
      visibility: hidden
  
  //&:hover:before, &:hover:after
    animation: timeout 2s
  
  /********** Tooltip Sizes **********/
  &.t-xl:before
    width: 200px
  
  &.t-lg:before
    width: 170px
  
  &.t-md:before
    width: 140px
  
  &.t-sm:before
    width: 110px
  
  &.t-xs:before
    width: 80px
  
  /********** Top Tooltip **********/
  &.t-top
    
    &:before
      bottom: 100%
      left: 50%
      margin-bottom: 5px
      transform: translateX(-50%)
    
    &:after
      bottom: 100%
      left: 50%
      transform: translateX(-50%)
      border-top: 8px solid #000
      border-bottom: none
    
    &:hover:before, &:hover:after
      transform: translateX(-50%) translateY(-5px)
    
  /********** Right Tooltip **********/
  &.t-right
    
    &:before
      top: 50%
      left: 100%
      margin-left: 5px
      transform: translateY(-50%)
    
    &:after
      top: 50%
      left: 100%
      transform: translateY(-50%)
      border-right: 8px solid #000
      border-left: none
    
    &:hover:before, &:hover:after
      transform: translateX(5px) translateY(-50%)
  
  /********** Bottom Tooltip **********/
  &.t-bottom
    
    &:before
      top: 100%
      left: 50%
      margin-top: 5px
      transform: translateX(-50%)
    
    &:after
      top: 100%
      left: 50%
      transform: translateX(-50%)
      border-bottom: 8px solid #000
      border-top: none
    
    &:hover:before, &:hover:after
      transform: translateX(-50%) translateY(5px)
  
  /********** Left Tooltip **********/
  &.t-left
    
    &:before
      top: 50%
      right: 100%
      margin-right: 5px
      transform: translateY(-50%)
    
    &:after
      top: 50%
      right: 100%
      transform: translateY(-50%)
      border-left: 8px solid #000
      border-right: none
    
    &:hover:before, &:hover:after
      transform: translateX(-5px) translateY(-50%)