<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Post list">
    <meta name="keywords" content="post, project, demo, library">
    <meta name="author" content="lockex1987">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png">
		
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/list.css">
    <title>Posts</title>

    <style>
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
.text {
	/*background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235eba00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'><polyline points='20 6 9 17 4 12'></polyline></svg>") no-repeat center right 0.5rem/1rem;*/
	background: url('data:image/svg+xml;charset=utf8,<svg height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#929292" id="icon-111-search"><path d="M19.4271164,21.4271164 C18.0372495,22.4174803 16.3366522,23 14.5,23 C9.80557939,23 6,19.1944206 6,14.5 C6,9.80557939 9.80557939,6 14.5,6 C19.1944206,6 23,9.80557939 23,14.5 C23,16.3366522 22.4174803,18.0372495 21.4271164,19.4271164 L27.0119176,25.0119176 C27.5621186,25.5621186 27.5575313,26.4424687 27.0117185,26.9882815 L26.9882815,27.0117185 C26.4438648,27.5561352 25.5576204,27.5576204 25.0119176,27.0119176 L19.4271164,21.4271164 L19.4271164,21.4271164 Z M14.5,21 C18.0898511,21 21,18.0898511 21,14.5 C21,10.9101489 18.0898511,8 14.5,8 C10.9101489,8 8,10.9101489 8,14.5 C8,18.0898511 10.9101489,21 14.5,21 L14.5,21 Z"/></g></g></svg>') no-repeat center right 10px/24px;
	/*background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23cd201f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>") no-repeat center right 0.5rem/1rem;*/

	display: block; width: 200px; padding: 0.375rem 0.75rem; padding-right: 40px; font-size: 0.9375rem; line-height: 1.6; color: #495057;
    background-color: #fff; border: 1px solid rgba(0, 40, 100, 0.12); border-radius: 3px; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    </style>
</head>

<body>
    <article>
        <div style="position: relative;">
            <div class="sidebar">
                <h3>Category</h3>
                <!-- Những cái mà blog này tập trung -->
                <ul>
                    <li><a href="posts.html?tag=python">Python</a></li>
                    <li><a href="posts.html?tag=django">Django</a></li>
                    <li><a href="posts.html?tag=java">Java</a></li>
                    <li><a href="posts.html?tag=spring boot">Spring Boot</a></li>
                    <li><a href="posts.html?tag=web">Web</a></li>
                    <li><a href="posts.html?tag=css">CSS</a></li>
                    <li><a href="posts.html?tag=javascript">JavaScript</a></li>
                    <li><a href="posts.html?tag=pwa">PWA</a></li>
                    <!--li><a href="posts.html?tag=web rtc">Web RTC</a></li-->
                    <li><a href="posts.html?tag=linux">Linux</a></li>
                </ul>
    
                <form onsubmit="return document.querySelector('#text').value.trim().length >= 3">
                    <input type="text" id="text" name="text" class="text" placeholder="Search...">
                </form>

                <!-- Random ảnh mèo -->
                <!-- Xem thêm ở https://thecatapi.com/docs.html -->
                <!-- https://thecatapi.com/api/images/get?size=small -->
                <!-- Ảnh load hơi lâu do đó cho vào sự kiện window load -->
                <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="the-cat">
                <!--img class="the-cat" alt="Random cat image"-->
            </div>
        </div>

        <div id="app" v-cloak>
            <h3>{{pageTitle}}</h3>
            <ul class="list">
                <li v-for="p in posts">
                    <img class="thumb" :src="'images/' + p.thumb"/>
                    <div class="info">
                        <a class="title" :href="p.link" :target="p.newTab ? '_blank' : ''">{{p.title}}</a>
                        <img class="lang" :src="p.lang == 'en' ? 'images/english.png' : 'images/vietnamese.png'"/>
                        <ul class="no-list-style tags">
                            <li v-for="t in p.tags">
                                <a :href="'posts.html?tag=' + t">{{t}}</a>
                            </li>
                        </ul>
                    <div>
                </li>
            </ul>
        </div>

        
        
        <!-- Để vùng phân trang này div#app thì lại không hiển thị được, phải để ngoài -->
        <!-- Có thể Vue.js không cho đổi dữ liệu động -->
        <div id="pagId" class="paginationWrapper"></div>
    </article>

    <script src="js/docs.js"></script>
    <script src="posts/lib - pagi/js/pagi.js"></script>
    <!-- Vue.js: production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/posts-data.js"></script>
    <script src="js/posts.js"></script>
  </body>
</html>
