.link { cursor: pointer; }
.version { display: flex; cursor: pointer; }
.version:hover { background-color: #AAA; }
.chapter { display: flex; cursor: pointer; }
.chapter:hover { background-color: #AAA; }
.info { padding-left: 15px; }
.avatar img { max-width: 130px; }
.page { padding: 15px 0; border-bottom: 1px dashed cyan; margin: 0 5px; display: block; }
