html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.thang-header {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background: #00bcd4;
  /* #e66b6b, #4ecdc4; */
}
.thang-header .tenthang {
  padding: 50px 0;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
}
@media (min-width: 480px) {
  .thang-header .tenthang {
    font-size: 30px;
  }
}
.thang-header .tenthang .nam {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.thang-header .navi {
  text-align: center;
  width: 14%;
}
.thang-header .navi a {
  font-size: 75%;
  color: #DDD;
}
.thang-header .navi a:hover {
  text-decoration: none;
  color: #FFF;
}
.thang {
  font-family: Tahoma, Verdana, Arial;
  width: 100%;
}
.thang .ngaytuan {
  width: 14%;
  height: 55px;
  font-weight: bold;
  font-size: 10px;
  color: #e66b6b;
  text-align: center;
}
.thang .ngaythang:hover {
  background: #cacaca;
  color: #fff;
}
.thang .ngaythang.homnay {
  background-color: #FFF000;
}
.thang .ngaythang.event {
  cursor: pointer;
}
.thang .ngaythang.event::after {
  content: '✓';
  transform: translate(40px, -45px);
  position: absolute;
  color: green;
}
.thang .t2t6,
.thang .t7,
.thang .cn {
  text-align: left;
  font-size: 15px;
  padding-top: 5px;
  transition: all 0.25s ease-out;
  padding-left: 20px;
}
.thang .t2t6 {
  color: black;
}
.thang .t7 {
  color: green;
}
.thang .cn {
  color: red;
}
.thang .am,
.thang .am2 {
  text-align: right;
  font-size: 11px;
  padding-bottom: 5px;
  padding-right: 15px;
  opacity: 0;
  transition: all 0.25s ease-out;
}
.thang .am {
  color: blue;
}
.thang .am2 {
  color: #004080;
}
.calendar {
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .calendar {
    max-width: 768px;
  }
}
.calendar .amlich-item {
  margin: 0 2px;
  cursor: move;
  outline: none;
}
.calendar #amlich.show-lunar .t2t6,
.calendar #amlich.show-lunar .t7,
.calendar #amlich.show-lunar .cn {
  padding-left: 15px;
}
.calendar #amlich.show-lunar .am,
.calendar #amlich.show-lunar .am2 {
  opacity: 1;
}
.controller {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  cursor: pointer;
  max-width: 768px;
  margin: 0 auto;
}
