html { height: 100%; overflow: hidden; }
body {
	margin: 0; padding: 0;
	// Disabling pull-to-refresh
	height: 100%; overflow: hidden;
}
.thang-header {
	width: 100%; font-family: "Roboto Condensed", sans-serif; background: #00bcd4; /* #e66b6b, #4ecdc4; */
	.tenthang {
		padding: 50px 0; text-align:center; color:#FFF; text-transform: uppercase; font-weight: 300; font-size: 28px;
		@media (min-width: 480px) { font-size: 30px; }
		.nam { display: block; font-weight: 300; font-style: normal; font-size: 16px; }
	}
	.navi {
		text-align: center; width: 14%;
		a {
			font-size: 75%; color: #DDD;
			&:hover { text-decoration: none; color: #FFF; }
		}
	}
}
.thang {
	font-family: Tahoma, Verdana, Arial; width: 100%;
	.ngaytuan { width: 14%; height: 55px; font-weight: bold; font-size: 10px; color: #e66b6b; text-align: center; }
	.ngaythang {
		&:hover { background: #cacaca; color: #fff; }
		&.homnay { background-color: #FFF000; }
		&.event {
			cursor: pointer;
			&::after { content: '✓'; transform: translate(40px, -45px); position: absolute; color: green; }
		}
	}
	.t2t6, .t7, .cn { text-align: left; font-size: 15px; padding-top: 5px; transition: all 0.25s ease-out; padding-left: 20px; }
	.t2t6 { color: black; }
	.t7 { color: green; }
	.cn { color: red; }
	.am, .am2 { text-align: right; font-size: 11px; padding-bottom: 5px; padding-right: 15px; opacity: 0; transition: all 0.25s ease-out; }
	.am { color: blue; }
	.am2 { color: #004080; }
}
.calendar {
	margin: 0px auto; padding: 0px; overflow: hidden; position: relative;
	@media (min-width: 768px) { max-width: 768px; }
	.amlich-item { margin: 0 2px; cursor: move; outline: none; }
	#amlich {
		&.show-lunar {
			.t2t6, .t7, .cn { padding-left: 15px; }
			.am, .am2 { opacity: 1; }
		}
	}
}
.controller { text-align: center; position: fixed; bottom: 20px; width: 100%; cursor: pointer; max-width: 768px; margin: 0 auto; }
