* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #FFF;
	padding: 5px;
}
#processingContainer {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 2000;
}
#processingContainer #processingContent {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  width: 220px;
  height: 85px;
  border: 1px solid #c0c0c0;
  background: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#mainFrame {
	max-width: 700px;
	margin: 0 auto;
}
header {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
}

#instructions {
	margin-top: 10px;
	width: 100%;
	height: 150px;
	line-height: 1.5;
}

textarea {
	/* How to hide horizontal scroll bar when set width 100% */
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 5px 0;
	border: none;
	border-top: 1px solid #999;
	background-color: #DDD;
}

textarea:focus {
	background-color: yellow;
}

button {
	margin: 10px;
	width: 150px;
}
#result {
    margin-top: 20px;
}
#result a {
	text-decoration: none;
}
#result a:hover {
	text-decoration: underline;
}
