body {
  background: aquamarine;
}

#sea {
  perspective: 500px;
  width: 500px;
  height: 800px;
  margin: 0 auto;
}

.kelp {
  width: 50px;
  height: 50px;
  float: left;
}

.kelp:nth-of-type(1) {
  background-color: rgba(110, 145, 202, 0.9);
}

.kelp:nth-of-type(2) {
  background-color: rgba(109, 115, 169, 0.9);
}

.kelp:nth-of-type(3) {
  background-color: rgba(104, 120, 201, 0.9);
}

.kelp:nth-of-type(4) {
  background-color: rgba(109, 118, 163, 0.9);
}

.kelp:nth-of-type(5) {
  background-color: rgba(106, 126, 246, 0.9);
}

.kelp:nth-of-type(6) {
  background-color: rgba(107, 127, 132, 0.9);
}

.kelp:nth-of-type(7) {
  background-color: rgba(107, 140, 231, 0.9);
}

.kelp:nth-of-type(8) {
  background-color: rgba(104, 135, 117, 0.9);
}

.kelp:nth-of-type(9) {
  background-color: rgba(109, 118, 111, 0.9);
}

.kelp:nth-of-type(10) {
  background-color: rgba(106, 137, 158, 0.9);
}

.kelp:nth-of-type(11) {
  background-color: rgba(101, 139, 133, 0.9);
}

.kelp:nth-of-type(12) {
  background-color: rgba(108, 101, 254, 0.9);
}

.kelp:nth-of-type(13) {
  background-color: rgba(102, 122, 147, 0.9);
}

.kelp:nth-of-type(14) {
  background-color: rgba(108, 157, 90, 0.9);
}

.kelp:nth-of-type(15) {
  background-color: rgba(108, 116, 253, 0.9);
}

.kelp:nth-of-type(16) {
  background-color: rgba(104, 128, 240, 0.9);
}

.kelp:nth-of-type(17) {
  background-color: rgba(105, 152, 86, 0.9);
}

.kelp:nth-of-type(18) {
  background-color: rgba(102, 138, 122, 0.9);
}

.kelp:nth-of-type(19) {
  background-color: rgba(110, 110, 246, 0.9);
}

.kelp:nth-of-type(20) {
  background-color: rgba(104, 149, 148, 0.9);
}

.kelp:nth-of-type(21) {
  background-color: rgba(110, 123, 119, 0.9);
}

.kelp:nth-of-type(22) {
  background-color: rgba(106, 149, 193, 0.9);
}

.kelp:nth-of-type(23) {
  background-color: rgba(110, 119, 122, 0.9);
}

.kelp:nth-of-type(24) {
  background-color: rgba(110, 160, 250, 0.9);
}

.kelp:nth-of-type(25) {
  background-color: rgba(103, 115, 166, 0.9);
}

.kelp:nth-of-type(26) {
  background-color: rgba(110, 149, 116, 0.9);
}

.kelp:nth-of-type(27) {
  background-color: rgba(102, 112, 79, 0.9);
}

.kelp:nth-of-type(28) {
  background-color: rgba(109, 143, 79, 0.9);
}

.kelp:nth-of-type(29) {
  background-color: rgba(102, 152, 121, 0.9);
}

.kelp:nth-of-type(30) {
  background-color: rgba(103, 152, 84, 0.9);
}

.kelp:nth-of-type(31) {
  background-color: rgba(102, 115, 143, 0.9);
}

.kelp:nth-of-type(32) {
  background-color: rgba(102, 149, 114, 0.9);
}

.kelp:nth-of-type(33) {
  background-color: rgba(110, 114, 66, 0.9);
}

.kelp:nth-of-type(34) {
  background-color: rgba(108, 142, 254, 0.9);
}

.kelp:nth-of-type(35) {
  background-color: rgba(102, 150, 63, 0.9);
}

.kelp:nth-of-type(36) {
  background-color: rgba(104, 155, 228, 0.9);
}

.kelp:nth-of-type(37) {
  background-color: rgba(103, 157, 168, 0.9);
}

.kelp:nth-of-type(38) {
  background-color: rgba(107, 126, 145, 0.9);
}

.kelp:nth-of-type(39) {
  background-color: rgba(108, 152, 238, 0.9);
}

.kelp:nth-of-type(40) {
  background-color: rgba(102, 119, 224, 0.9);
}

.kelp:nth-of-type(41) {
  background-color: rgba(107, 132, 178, 0.9);
}

.kelp:nth-of-type(42) {
  background-color: rgba(104, 103, 202, 0.9);
}

.kelp:nth-of-type(43) {
  background-color: rgba(108, 107, 207, 0.9);
}

.kelp:nth-of-type(44) {
  background-color: rgba(103, 156, 218, 0.9);
}

.kelp:nth-of-type(45) {
  background-color: rgba(106, 118, 251, 0.9);
}

.kelp:nth-of-type(46) {
  background-color: rgba(106, 160, 168, 0.9);
}

.kelp:nth-of-type(47) {
  background-color: rgba(102, 130, 146, 0.9);
}

.kelp:nth-of-type(48) {
  background-color: rgba(110, 129, 243, 0.9);
}

.kelp:nth-of-type(49) {
  background-color: rgba(108, 133, 123, 0.9);
}

.kelp:nth-of-type(50) {
  background-color: rgba(108, 133, 254, 0.9);
}

.kelp:nth-of-type(51) {
  background-color: rgba(105, 121, 112, 0.9);
}

.kelp:nth-of-type(52) {
  background-color: rgba(103, 160, 190, 0.9);
}

.kelp:nth-of-type(53) {
  background-color: rgba(105, 140, 75, 0.9);
}

.kelp:nth-of-type(54) {
  background-color: rgba(108, 120, 197, 0.9);
}

.kelp:nth-of-type(55) {
  background-color: rgba(102, 118, 89, 0.9);
}

.kelp:nth-of-type(56) {
  background-color: rgba(107, 145, 91, 0.9);
}

.kelp:nth-of-type(57) {
  background-color: rgba(106, 146, 186, 0.9);
}

.kelp:nth-of-type(58) {
  background-color: rgba(107, 156, 140, 0.9);
}

.kelp:nth-of-type(59) {
  background-color: rgba(104, 121, 223, 0.9);
}

.kelp:nth-of-type(60) {
  background-color: rgba(108, 123, 235, 0.9);
}

.kelp:nth-of-type(61) {
  background-color: rgba(108, 117, 147, 0.9);
}

.kelp:nth-of-type(62) {
  background-color: rgba(105, 104, 160, 0.9);
}

.kelp:nth-of-type(63) {
  background-color: rgba(105, 148, 128, 0.9);
}

.kelp:nth-of-type(64) {
  background-color: rgba(110, 129, 245, 0.9);
}

.kelp:nth-of-type(65) {
  background-color: rgba(103, 110, 169, 0.9);
}

.kelp:nth-of-type(66) {
  background-color: rgba(102, 149, 204, 0.9);
}

.kelp:nth-of-type(67) {
  background-color: rgba(106, 101, 176, 0.9);
}

.kelp:nth-of-type(68) {
  background-color: rgba(108, 131, 106, 0.9);
}

.kelp:nth-of-type(69) {
  background-color: rgba(107, 105, 229, 0.9);
}

.kelp:nth-of-type(70) {
  background-color: rgba(108, 115, 66, 0.9);
}

.kelp:nth-of-type(71) {
  background-color: rgba(110, 133, 83, 0.9);
}

.kelp:nth-of-type(72) {
  background-color: rgba(108, 109, 152, 0.9);
}

.kelp:nth-of-type(73) {
  background-color: rgba(103, 116, 103, 0.9);
}

.kelp:nth-of-type(74) {
  background-color: rgba(101, 129, 125, 0.9);
}

.kelp:nth-of-type(75) {
  background-color: rgba(108, 123, 229, 0.9);
}

.kelp:nth-of-type(76) {
  background-color: rgba(104, 115, 69, 0.9);
}

.kelp:nth-of-type(77) {
  background-color: rgba(105, 132, 172, 0.9);
}

.kelp:nth-of-type(78) {
  background-color: rgba(106, 111, 94, 0.9);
}

.kelp:nth-of-type(79) {
  background-color: rgba(104, 120, 83, 0.9);
}

.kelp:nth-of-type(80) {
  background-color: rgba(110, 155, 71, 0.9);
}

.kelp:nth-of-type(1) {
  animation: flow-1 3s ease-in-out -9.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-1 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(2) {
  animation: flow-2 3s ease-in-out -9s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-2 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(3) {
  animation: flow-3 3s ease-in-out -8.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-3 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(4) {
  animation: flow-4 3s ease-in-out -8s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-4 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(5) {
  animation: flow-5 3s ease-in-out -7.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-5 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(6) {
  animation: flow-6 3s ease-in-out -7s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-6 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(7) {
  animation: flow-7 3s ease-in-out -6.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-7 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(8) {
  animation: flow-8 3s ease-in-out -6s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-8 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(9) {
  animation: flow-9 3s ease-in-out -5.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-9 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(10) {
  animation: flow-10 3s ease-in-out -5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-10 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(11) {
  animation: flow-11 3s ease-in-out -14.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-11 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(12) {
  animation: flow-12 3s ease-in-out -14s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-12 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(13) {
  animation: flow-13 3s ease-in-out -13.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-13 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(14) {
  animation: flow-14 3s ease-in-out -13s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-14 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(15) {
  animation: flow-15 3s ease-in-out -12.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-15 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(16) {
  animation: flow-16 3s ease-in-out -12s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-16 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(17) {
  animation: flow-17 3s ease-in-out -11.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-17 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(18) {
  animation: flow-18 3s ease-in-out -11s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-18 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(19) {
  animation: flow-19 3s ease-in-out -10.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-19 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(20) {
  animation: flow-20 3s ease-in-out -10s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-20 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(21) {
  animation: flow-21 3s ease-in-out -19.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-21 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(22) {
  animation: flow-22 3s ease-in-out -19s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-22 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(23) {
  animation: flow-23 3s ease-in-out -18.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-23 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(24) {
  animation: flow-24 3s ease-in-out -18s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-24 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(25) {
  animation: flow-25 3s ease-in-out -17.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-25 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(26) {
  animation: flow-26 3s ease-in-out -17s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-26 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(27) {
  animation: flow-27 3s ease-in-out -16.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-27 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(28) {
  animation: flow-28 3s ease-in-out -16s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-28 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(29) {
  animation: flow-29 3s ease-in-out -15.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-29 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(30) {
  animation: flow-30 3s ease-in-out -15s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-30 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(31) {
  animation: flow-31 3s ease-in-out -24.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-31 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(32) {
  animation: flow-32 3s ease-in-out -24s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-32 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(33) {
  animation: flow-33 3s ease-in-out -23.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-33 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(34) {
  animation: flow-34 3s ease-in-out -23s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-34 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(35) {
  animation: flow-35 3s ease-in-out -22.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-35 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(36) {
  animation: flow-36 3s ease-in-out -22s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-36 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(37) {
  animation: flow-37 3s ease-in-out -21.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-37 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(38) {
  animation: flow-38 3s ease-in-out -21s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-38 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(39) {
  animation: flow-39 3s ease-in-out -20.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-39 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(40) {
  animation: flow-40 3s ease-in-out -20s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-40 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(41) {
  animation: flow-41 3s ease-in-out -29.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-41 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(42) {
  animation: flow-42 3s ease-in-out -29s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-42 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(43) {
  animation: flow-43 3s ease-in-out -28.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-43 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(44) {
  animation: flow-44 3s ease-in-out -28s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-44 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(45) {
  animation: flow-45 3s ease-in-out -27.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-45 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(46) {
  animation: flow-46 3s ease-in-out -27s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-46 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(47) {
  animation: flow-47 3s ease-in-out -26.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-47 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(48) {
  animation: flow-48 3s ease-in-out -26s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-48 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(49) {
  animation: flow-49 3s ease-in-out -25.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-49 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(50) {
  animation: flow-50 3s ease-in-out -25s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-50 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(51) {
  animation: flow-51 3s ease-in-out -34.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-51 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(52) {
  animation: flow-52 3s ease-in-out -34s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-52 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(53) {
  animation: flow-53 3s ease-in-out -33.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-53 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(54) {
  animation: flow-54 3s ease-in-out -33s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-54 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(55) {
  animation: flow-55 3s ease-in-out -32.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-55 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(56) {
  animation: flow-56 3s ease-in-out -32s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-56 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(57) {
  animation: flow-57 3s ease-in-out -31.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-57 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(58) {
  animation: flow-58 3s ease-in-out -31s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-58 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(59) {
  animation: flow-59 3s ease-in-out -30.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-59 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(60) {
  animation: flow-60 3s ease-in-out -30s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-60 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(61) {
  animation: flow-61 3s ease-in-out -39.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-61 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(62) {
  animation: flow-62 3s ease-in-out -39s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-62 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(63) {
  animation: flow-63 3s ease-in-out -38.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-63 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(64) {
  animation: flow-64 3s ease-in-out -38s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-64 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(65) {
  animation: flow-65 3s ease-in-out -37.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-65 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(66) {
  animation: flow-66 3s ease-in-out -37s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-66 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(67) {
  animation: flow-67 3s ease-in-out -36.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-67 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(68) {
  animation: flow-68 3s ease-in-out -36s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-68 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(69) {
  animation: flow-69 3s ease-in-out -35.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-69 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(70) {
  animation: flow-70 3s ease-in-out -35s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-70 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(71) {
  animation: flow-71 3s ease-in-out -44.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-71 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(72) {
  animation: flow-72 3s ease-in-out -44s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-72 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(73) {
  animation: flow-73 3s ease-in-out -43.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-73 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(74) {
  animation: flow-74 3s ease-in-out -43s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-74 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(75) {
  animation: flow-75 3s ease-in-out -42.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-75 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(76) {
  animation: flow-76 3s ease-in-out -42s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-76 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(77) {
  animation: flow-77 3s ease-in-out -41.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-77 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(78) {
  animation: flow-78 3s ease-in-out -41s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-78 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(79) {
  animation: flow-79 3s ease-in-out -40.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-79 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(80) {
  animation: flow-80 3s ease-in-out -40s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-80 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(81) {
  animation: flow-81 3s ease-in-out -49.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
}

@keyframes flow-81 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(0px) translateY(0px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(0px) translateY(0px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(82) {
  animation: flow-82 3s ease-in-out -49s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
}

@keyframes flow-82 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(14.645px) translateY(35.355px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(14.645px) translateY(35.355px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(83) {
  animation: flow-83 3s ease-in-out -48.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
}

@keyframes flow-83 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(29.29px) translateY(70.71px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(29.29px) translateY(70.71px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(84) {
  animation: flow-84 3s ease-in-out -48s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
}

@keyframes flow-84 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(43.935px) translateY(106.065px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(43.935px) translateY(106.065px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(85) {
  animation: flow-85 3s ease-in-out -47.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
}

@keyframes flow-85 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(58.58px) translateY(141.42px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(58.58px) translateY(141.42px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(86) {
  animation: flow-86 3s ease-in-out -47s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
}

@keyframes flow-86 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(73.225px) translateY(176.775px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(73.225px) translateY(176.775px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(87) {
  animation: flow-87 3s ease-in-out -46.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
}

@keyframes flow-87 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(87.87px) translateY(212.13px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(87.87px) translateY(212.13px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(88) {
  animation: flow-88 3s ease-in-out -46s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
}

@keyframes flow-88 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(102.515px) translateY(247.485px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(102.515px) translateY(247.485px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(89) {
  animation: flow-89 3s ease-in-out -45.5s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
}

@keyframes flow-89 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(117.16px) translateY(282.84px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(117.16px) translateY(282.84px) translateZ(-12.5px);
  }
}
.kelp:nth-of-type(90) {
  animation: flow-90 3s ease-in-out -45s infinite alternate;
  transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
}

@keyframes flow-90 {
  0% {
    transform: rotateY(5deg) rotateX(45deg) rotateZ(45deg) translateX(131.805px) translateY(318.195px) translateZ(12.5px);
  }
  100% {
    transform: rotateY(-1deg) rotateX(42deg) rotateZ(42deg) translateX(131.805px) translateY(318.195px) translateZ(-12.5px);
  }
}
