html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container, .main-content, body, html, .swipe-area, #sidebar {
  height: 100%;
}

.container, .main-content {
  width: 100%;
}

body, html {
  overflow: hidden;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 100;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  left: 0;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.open-sidebar {
  left: 240px;
}

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  background: #f3f3f3;
  z-index: 0;
}

#sidebar {
  position: absolute;
  background: #31dfbc;
  left: -240px;
  width: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar ul li a {
  padding: 15px 20px;
  color: white;
  display: block;
  border-bottom: 1px solid #1ebf9f;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
#sidebar ul li:hover a {
  background: #1fb5a9;
}

.main-content {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.main-content #sidebar-toggle {
  background: #DF314D;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.main-content #sidebar-toggle .bar + .bar {
  margin-top: 3px;
}
