@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  font-family: "Droid Sans";
  background-color: #2CC990;
  color: white;
  transition: 0.2s all;
}

h3:before {
  content: "Try to swipe";
}

h3 {
  line-height: 100vh;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-rendering: optimizeLegibility;
}

@media screen and (min-device-width: 720px) {
  h3:before {
    content: "Oooops, looks like you aren't using a mobile device. No problemo, just open up the DevTools,  go to the Device Mode and start jamming :)";
  }
}
