@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
body {
  background: radial-gradient(ellipse at center, #5328bc 0%, #2c118d 100%);
  perspective: 1000px;
  display: flex;
  transform-style: preserve-3d;
  font-family: "Pacifico",cursive;
}

.card {
  top: 20vh;
  pointer-events: none;
  transform: translateZ(7em);
  padding: 30px;
  background: linear-gradient(to bottom, #020333 0%, #020333 75%, #ffffff 75%, #ffffff 100%);
  border-radius: 5px;
  width: 400px;
  height: 250px;
  margin: auto;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}
.card .card-content {
  margin: auto;
  text-align: center;
  transform-style: preserve-3d;
}
.card h1 {
  transform: translateZ(100px);
  color: #e0e0c8;
  font-size: 2.7em;
  font-weight: 400;
}
.card  p {
  transform: translateZ(50px);
  color: #dc7532;
  font-size: 1.7em;
  display: block;
}
.card .related {
  transform: translateZ(80px);
  color: #c04f87;
  font-size: 1.7em;
  font-family: 'Concert One', cursive;
  font-weight: 400;
}
.card a {
  color: #dc7532;
  pointer-events: auto;
}

bokeh {
  position: fixed;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  animation-name: explosion;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
}
bokeh:nth-child(1) {
  background-color: #FCE38A;
  transform: translate(40.728847083vw, 83.5724128281vh);
  animation-duration: 4.0642546839s;
  animation-delay: -1.2870740063s;
}
bokeh:nth-child(2) {
  background-color: #EAFFD0;
  transform: translate(13.9676806226vw, 77.3752211vh);
  animation-duration: 4.7089191141s;
  animation-delay: -3.2528726036s;
}
bokeh:nth-child(3) {
  background-color: #FCE38A;
  transform: translate(57.2477142739vw, 99.2152418222vh);
  animation-duration: 3.5706779388s;
  animation-delay: -1.360194895s;
}
bokeh:nth-child(4) {
  background-color: #F38181;
  transform: translate(76.6862905624vw, 32.8100900566vh);
  animation-duration: 4.8103434162s;
  animation-delay: -1.8441888439s;
}
bokeh:nth-child(5) {
  background-color: #FCE38A;
  transform: translate(99.3383391526vw, 62.4019097217vh);
  animation-duration: 2.5609816885s;
  animation-delay: -3.5654547247s;
}
bokeh:nth-child(6) {
  background-color: #EAFFD0;
  transform: translate(38.3502955169vw, 73.7004926103vh);
  animation-duration: 2.5556689645s;
  animation-delay: -1.7557452069s;
}
bokeh:nth-child(7) {
  background-color: #F38181;
  transform: translate(31.7298635526vw, 33.3232462388vh);
  animation-duration: 2.4564964308s;
  animation-delay: -0.4440078907s;
}
bokeh:nth-child(8) {
  background-color: #EAFFD0;
  transform: translate(84.4741201854vw, 96.2007394377vh);
  animation-duration: 3.5642396722s;
  animation-delay: -4.6365375203s;
}
bokeh:nth-child(9) {
  background-color: #EAFFD0;
  transform: translate(27.1068901043vw, 89.3315585744vh);
  animation-duration: 3.4486474586s;
  animation-delay: -3.6618056081s;
}
bokeh:nth-child(10) {
  background-color: #EAFFD0;
  transform: translate(2.128611279vw, 84.8014712159vh);
  animation-duration: 4.2020209173s;
  animation-delay: -2.8642810422s;
}
bokeh:nth-child(11) {
  background-color: #EAFFD0;
  transform: translate(42.4771828998vw, 78.7767394366vh);
  animation-duration: 3.2129228618s;
  animation-delay: -2.9687019172s;
}
bokeh:nth-child(12) {
  background-color: #95E1D3;
  transform: translate(32.068692953vw, 11.5644305863vh);
  animation-duration: 3.6689767569s;
  animation-delay: -3.4029371073s;
}
bokeh:nth-child(13) {
  background-color: #FCE38A;
  transform: translate(69.261870911vw, 88.1729638385vh);
  animation-duration: 4.4138499273s;
  animation-delay: -3.2259355444s;
}
bokeh:nth-child(14) {
  background-color: #EAFFD0;
  transform: translate(48.593965002vw, 94.9900925048vh);
  animation-duration: 3.3524374855s;
  animation-delay: -3.3166204139s;
}
bokeh:nth-child(15) {
  background-color: #F38181;
  transform: translate(97.7957388031vw, 99.344043391vh);
  animation-duration: 2.2332324493s;
  animation-delay: -2.5715213749s;
}
bokeh:nth-child(16) {
  background-color: #FCE38A;
  transform: translate(94.5960859447vw, 14.8195077826vh);
  animation-duration: 4.6031355751s;
  animation-delay: -0.7605783964s;
}
bokeh:nth-child(17) {
  background-color: #95E1D3;
  transform: translate(55.7895872786vw, 50.6035239902vh);
  animation-duration: 4.7564793544s;
  animation-delay: -2.0616520724s;
}
bokeh:nth-child(18) {
  background-color: #F38181;
  transform: translate(5.6462175562vw, 60.8416260512vh);
  animation-duration: 2.1872852066s;
  animation-delay: -0.9550103983s;
}
bokeh:nth-child(19) {
  background-color: #FCE38A;
  transform: translate(39.7476640671vw, 11.0028068267vh);
  animation-duration: 3.5043138756s;
  animation-delay: -3.7987658347s;
}
bokeh:nth-child(20) {
  background-color: #EAFFD0;
  transform: translate(80.6620414225vw, 20.7135085154vh);
  animation-duration: 2.2765804248s;
  animation-delay: -4.9565797287s;
}
bokeh:nth-child(21) {
  background-color: #EAFFD0;
  transform: translate(40.8164603052vw, 59.9256554259vh);
  animation-duration: 2.012783944s;
  animation-delay: -4.4135137719s;
}
bokeh:nth-child(22) {
  background-color: #F38181;
  transform: translate(61.2323326201vw, 43.9894890693vh);
  animation-duration: 4.8597348833s;
  animation-delay: -4.1249136281s;
}
bokeh:nth-child(23) {
  background-color: #F38181;
  transform: translate(7.0939874394vw, 99.1876661078vh);
  animation-duration: 4.2383302511s;
  animation-delay: -2.2985168286s;
}
bokeh:nth-child(24) {
  background-color: #95E1D3;
  transform: translate(85.4755613357vw, 50.1937374012vh);
  animation-duration: 2.6411942416s;
  animation-delay: -1.9656280108s;
}
bokeh:nth-child(25) {
  background-color: #95E1D3;
  transform: translate(10.047206653vw, 45.7453842325vh);
  animation-duration: 2.7667729932s;
  animation-delay: -2.0717616156s;
}
bokeh:nth-child(26) {
  background-color: #95E1D3;
  transform: translate(16.4319645801vw, 94.3028364732vh);
  animation-duration: 2.0179153122s;
  animation-delay: -1.2298583355s;
}
bokeh:nth-child(27) {
  background-color: #EAFFD0;
  transform: translate(79.8314388117vw, 65.2477084773vh);
  animation-duration: 2.5357016282s;
  animation-delay: -3.1518029508s;
}
bokeh:nth-child(28) {
  background-color: #95E1D3;
  transform: translate(99.1058482719vw, 72.3520619261vh);
  animation-duration: 4.3766313152s;
  animation-delay: -4.8961860409s;
}
bokeh:nth-child(29) {
  background-color: #FCE38A;
  transform: translate(70.7147216894vw, 31.2575315522vh);
  animation-duration: 2.3135272845s;
  animation-delay: -4.6050873431s;
}
bokeh:nth-child(30) {
  background-color: #EAFFD0;
  transform: translate(56.9237745029vw, 41.7673950512vh);
  animation-duration: 4.4394561859s;
  animation-delay: -3.6320212746s;
}
bokeh:nth-child(31) {
  background-color: #EAFFD0;
  transform: translate(97.4126356416vw, 61.1866781566vh);
  animation-duration: 2.0566025464s;
  animation-delay: -1.0033570897s;
}
bokeh:nth-child(32) {
  background-color: #EAFFD0;
  transform: translate(9.189215522vw, 88.0435014608vh);
  animation-duration: 3.329931033s;
  animation-delay: -1.3093183716s;
}
bokeh:nth-child(33) {
  background-color: #F38181;
  transform: translate(64.0320861515vw, 3.6017090704vh);
  animation-duration: 2.7229053672s;
  animation-delay: -4.7145401179s;
}
bokeh:nth-child(34) {
  background-color: #FCE38A;
  transform: translate(98.9739425442vw, 50.5442505833vh);
  animation-duration: 4.3305782961s;
  animation-delay: -0.8627253204s;
}
bokeh:nth-child(35) {
  background-color: #EAFFD0;
  transform: translate(35.8396450599vw, 48.3610992707vh);
  animation-duration: 2.0513798206s;
  animation-delay: -3.6816014686s;
}
bokeh:nth-child(36) {
  background-color: #FCE38A;
  transform: translate(12.7884258573vw, 49.1470745494vh);
  animation-duration: 2.4667732712s;
  animation-delay: -3.7486128388s;
}
bokeh:nth-child(37) {
  background-color: #F38181;
  transform: translate(77.5919200088vw, 57.3005722067vh);
  animation-duration: 4.8403189104s;
  animation-delay: -0.1455587246s;
}
bokeh:nth-child(38) {
  background-color: #F38181;
  transform: translate(76.6462683751vw, 61.3774173252vh);
  animation-duration: 2.5601168997s;
  animation-delay: -3.0139130215s;
}
bokeh:nth-child(39) {
  background-color: #F38181;
  transform: translate(98.5470506815vw, 74.5152624898vh);
  animation-duration: 3.6969061925s;
  animation-delay: -3.0012440448s;
}
bokeh:nth-child(40) {
  background-color: #EAFFD0;
  transform: translate(82.2499263749vw, 61.9538440985vh);
  animation-duration: 2.4254025598s;
  animation-delay: -2.597468256s;
}
bokeh:nth-child(41) {
  background-color: #F38181;
  transform: translate(48.2250145915vw, 11.7126141099vh);
  animation-duration: 4.3853536447s;
  animation-delay: -2.2748690251s;
}
bokeh:nth-child(42) {
  background-color: #EAFFD0;
  transform: translate(63.6612929111vw, 2.1703193791vh);
  animation-duration: 3.6180806113s;
  animation-delay: -0.7714035406s;
}
bokeh:nth-child(43) {
  background-color: #EAFFD0;
  transform: translate(90.6296837503vw, 21.0889722208vh);
  animation-duration: 3.8083373059s;
  animation-delay: -3.5061827093s;
}
bokeh:nth-child(44) {
  background-color: #EAFFD0;
  transform: translate(58.332659246vw, 94.3842213615vh);
  animation-duration: 3.7406191885s;
  animation-delay: -3.6871767648s;
}
bokeh:nth-child(45) {
  background-color: #FCE38A;
  transform: translate(51.2332299273vw, 91.4208434181vh);
  animation-duration: 2.9162277895s;
  animation-delay: -4.6113202778s;
}
bokeh:nth-child(46) {
  background-color: #F38181;
  transform: translate(24.4136107994vw, 63.7204276546vh);
  animation-duration: 2.1749503013s;
  animation-delay: -2.4120623391s;
}
bokeh:nth-child(47) {
  background-color: #EAFFD0;
  transform: translate(16.8490274184vw, 99.3913006562vh);
  animation-duration: 4.5680090798s;
  animation-delay: -1.9435319836s;
}
bokeh:nth-child(48) {
  background-color: #FCE38A;
  transform: translate(5.9952973135vw, 89.0107615457vh);
  animation-duration: 3.9154844591s;
  animation-delay: -2.5870689748s;
}
bokeh:nth-child(49) {
  background-color: #95E1D3;
  transform: translate(84.80310903vw, 32.1257429685vh);
  animation-duration: 2.0175490099s;
  animation-delay: -0.8113732605s;
}
bokeh:nth-child(50) {
  background-color: #EAFFD0;
  transform: translate(49.5527091678vw, 53.5350615366vh);
  animation-duration: 4.1381646352s;
  animation-delay: -2.0234310462s;
}
bokeh:nth-child(51) {
  background-color: #95E1D3;
  transform: translate(38.7628711892vw, 86.4629856221vh);
  animation-duration: 2.8929305225s;
  animation-delay: -0.3112270971s;
}
bokeh:nth-child(52) {
  background-color: #FCE38A;
  transform: translate(73.2409446222vw, 39.8249603361vh);
  animation-duration: 3.5118489327s;
  animation-delay: -4.393898323s;
}
bokeh:nth-child(53) {
  background-color: #F38181;
  transform: translate(55.5887171724vw, 97.0940686643vh);
  animation-duration: 3.5463146014s;
  animation-delay: -2.8134840066s;
}
bokeh:nth-child(54) {
  background-color: #F38181;
  transform: translate(52.2805682789vw, 53.409107554vh);
  animation-duration: 3.4599015956s;
  animation-delay: -4.9660029094s;
}
bokeh:nth-child(55) {
  background-color: #FCE38A;
  transform: translate(59.5931545716vw, 41.3887474806vh);
  animation-duration: 2.6935602174s;
  animation-delay: -0.1130684747s;
}
bokeh:nth-child(56) {
  background-color: #EAFFD0;
  transform: translate(67.854574734vw, 37.3244110503vh);
  animation-duration: 4.6381931997s;
  animation-delay: -0.0057715129s;
}
bokeh:nth-child(57) {
  background-color: #95E1D3;
  transform: translate(70.7200998074vw, 65.6895865143vh);
  animation-duration: 4.7768763862s;
  animation-delay: -0.6641199623s;
}
bokeh:nth-child(58) {
  background-color: #EAFFD0;
  transform: translate(99.4333085435vw, 94.6911993103vh);
  animation-duration: 2.1140614467s;
  animation-delay: -2.4622141619s;
}
bokeh:nth-child(59) {
  background-color: #95E1D3;
  transform: translate(34.005529314vw, 52.0354081109vh);
  animation-duration: 3.4734835186s;
  animation-delay: -3.9761299659s;
}
bokeh:nth-child(60) {
  background-color: #F38181;
  transform: translate(70.5347193713vw, 27.5913058518vh);
  animation-duration: 4.5392813663s;
  animation-delay: -1.836011307s;
}
bokeh:nth-child(61) {
  background-color: #EAFFD0;
  transform: translate(31.5811818642vw, 77.3874350865vh);
  animation-duration: 4.1799757083s;
  animation-delay: -4.2027166531s;
}
bokeh:nth-child(62) {
  background-color: #FCE38A;
  transform: translate(70.3627635104vw, 82.2774167332vh);
  animation-duration: 2.3511641697s;
  animation-delay: -2.0554303412s;
}
bokeh:nth-child(63) {
  background-color: #FCE38A;
  transform: translate(25.1738618205vw, 66.5812566605vh);
  animation-duration: 4.0316905273s;
  animation-delay: -4.7446936688s;
}
bokeh:nth-child(64) {
  background-color: #FCE38A;
  transform: translate(28.7851142656vw, 51.201589981vh);
  animation-duration: 3.9995960348s;
  animation-delay: -3.5477188743s;
}
bokeh:nth-child(65) {
  background-color: #F38181;
  transform: translate(7.4663525952vw, 66.7484278284vh);
  animation-duration: 2.2162467273s;
  animation-delay: -3.5717927951s;
}
bokeh:nth-child(66) {
  background-color: #F38181;
  transform: translate(86.6029807077vw, 27.7282317863vh);
  animation-duration: 4.6098061131s;
  animation-delay: -3.4282466699s;
}
bokeh:nth-child(67) {
  background-color: #EAFFD0;
  transform: translate(42.8096584653vw, 38.1371615102vh);
  animation-duration: 2.5215076327s;
  animation-delay: -0.7689885965s;
}
bokeh:nth-child(68) {
  background-color: #F38181;
  transform: translate(21.3617200469vw, 84.3677617683vh);
  animation-duration: 3.0084099674s;
  animation-delay: -2.0569361866s;
}
bokeh:nth-child(69) {
  background-color: #95E1D3;
  transform: translate(66.2081310025vw, 9.8802523347vh);
  animation-duration: 2.108211454s;
  animation-delay: -4.4042157815s;
}
bokeh:nth-child(70) {
  background-color: #F38181;
  transform: translate(27.6339176714vw, 26.384759115vh);
  animation-duration: 2.5928513773s;
  animation-delay: -1.5719593453s;
}
bokeh:nth-child(71) {
  background-color: #EAFFD0;
  transform: translate(57.7820750662vw, 50.0508740699vh);
  animation-duration: 3.0356166039s;
  animation-delay: -3.4831236224s;
}
bokeh:nth-child(72) {
  background-color: #F38181;
  transform: translate(38.5482772417vw, 79.7729415085vh);
  animation-duration: 2.1326660113s;
  animation-delay: -1.5983631568s;
}
bokeh:nth-child(73) {
  background-color: #95E1D3;
  transform: translate(79.6850790864vw, 72.3758549978vh);
  animation-duration: 4.7831816156s;
  animation-delay: -1.9166734287s;
}
bokeh:nth-child(74) {
  background-color: #FCE38A;
  transform: translate(59.9116929436vw, 47.9939920365vh);
  animation-duration: 3.0390722048s;
  animation-delay: -2.989109044s;
}
bokeh:nth-child(75) {
  background-color: #EAFFD0;
  transform: translate(70.549113086vw, 69.2849641838vh);
  animation-duration: 2.4200041707s;
  animation-delay: -4.9473452542s;
}
bokeh:nth-child(76) {
  background-color: #FCE38A;
  transform: translate(70.7725109611vw, 44.0637027212vh);
  animation-duration: 3.9280361014s;
  animation-delay: -2.4043322719s;
}
bokeh:nth-child(77) {
  background-color: #95E1D3;
  transform: translate(72.7730631914vw, 80.2539446348vh);
  animation-duration: 4.2958624069s;
  animation-delay: -1.605008154s;
}
bokeh:nth-child(78) {
  background-color: #95E1D3;
  transform: translate(30.7938389069vw, 21.9669947809vh);
  animation-duration: 2.6637394069s;
  animation-delay: -2.0289031787s;
}
bokeh:nth-child(79) {
  background-color: #FCE38A;
  transform: translate(52.5621282178vw, 78.007622095vh);
  animation-duration: 3.9048804944s;
  animation-delay: -1.4510779957s;
}
bokeh:nth-child(80) {
  background-color: #EAFFD0;
  transform: translate(30.1914276863vw, 78.975202563vh);
  animation-duration: 3.8367764743s;
  animation-delay: -0.8403838943s;
}
bokeh:nth-child(81) {
  background-color: #95E1D3;
  transform: translate(88.38504659vw, 12.1175625397vh);
  animation-duration: 4.7665715677s;
  animation-delay: -3.362878184s;
}
bokeh:nth-child(82) {
  background-color: #F38181;
  transform: translate(89.5644257609vw, 54.5587482579vh);
  animation-duration: 2.1555493318s;
  animation-delay: -0.5778888576s;
}
bokeh:nth-child(83) {
  background-color: #95E1D3;
  transform: translate(78.3012899716vw, 23.3627069206vh);
  animation-duration: 4.09009654s;
  animation-delay: -4.8656996274s;
}
bokeh:nth-child(84) {
  background-color: #FCE38A;
  transform: translate(1.0681972098vw, 90.9444222151vh);
  animation-duration: 3.9774499928s;
  animation-delay: -3.8986508691s;
}
bokeh:nth-child(85) {
  background-color: #EAFFD0;
  transform: translate(32.5336651788vw, 20.121490956vh);
  animation-duration: 2.0012701842s;
  animation-delay: -3.7549727349s;
}
bokeh:nth-child(86) {
  background-color: #FCE38A;
  transform: translate(57.817514214vw, 32.3516940997vh);
  animation-duration: 2.4438495583s;
  animation-delay: -0.7348230717s;
}
bokeh:nth-child(87) {
  background-color: #FCE38A;
  transform: translate(1.3417849998vw, 35.775243506vh);
  animation-duration: 4.5311219902s;
  animation-delay: -3.2030942704s;
}
bokeh:nth-child(88) {
  background-color: #F38181;
  transform: translate(1.6630565646vw, 25.0753328939vh);
  animation-duration: 4.574592087s;
  animation-delay: -0.5884092882s;
}
bokeh:nth-child(89) {
  background-color: #FCE38A;
  transform: translate(14.8022963445vw, 83.0323975761vh);
  animation-duration: 4.1140295496s;
  animation-delay: -3.5479667141s;
}
bokeh:nth-child(90) {
  background-color: #FCE38A;
  transform: translate(46.3380179341vw, 74.3361625991vh);
  animation-duration: 4.0775157426s;
  animation-delay: -2.6879297665s;
}
bokeh:nth-child(91) {
  background-color: #FCE38A;
  transform: translate(1.702813607vw, 54.5515556669vh);
  animation-duration: 3.0828799294s;
  animation-delay: -1.6614310751s;
}
bokeh:nth-child(92) {
  background-color: #EAFFD0;
  transform: translate(40.4212306953vw, 14.8513715654vh);
  animation-duration: 3.4938218261s;
  animation-delay: -2.1523097745s;
}
bokeh:nth-child(93) {
  background-color: #F38181;
  transform: translate(11.7599856865vw, 70.2977447823vh);
  animation-duration: 3.1268107295s;
  animation-delay: -3.1137345513s;
}
bokeh:nth-child(94) {
  background-color: #95E1D3;
  transform: translate(85.95447093vw, 76.4468697068vh);
  animation-duration: 4.4417449613s;
  animation-delay: -1.5281785737s;
}
bokeh:nth-child(95) {
  background-color: #FCE38A;
  transform: translate(88.329497824vw, 67.5536510972vh);
  animation-duration: 4.8749473913s;
  animation-delay: -1.6288081657s;
}
bokeh:nth-child(96) {
  background-color: #FCE38A;
  transform: translate(86.5821332732vw, 33.0645418396vh);
  animation-duration: 2.726955737s;
  animation-delay: -0.8504891383s;
}
bokeh:nth-child(97) {
  background-color: #F38181;
  transform: translate(66.087062421vw, 43.0036790043vh);
  animation-duration: 4.4847335832s;
  animation-delay: -1.6644583167s;
}
bokeh:nth-child(98) {
  background-color: #EAFFD0;
  transform: translate(69.0955280081vw, 6.6417911401vh);
  animation-duration: 3.7105221782s;
  animation-delay: -0.5405761383s;
}
bokeh:nth-child(99) {
  background-color: #F38181;
  transform: translate(35.186122932vw, 78.3676250468vh);
  animation-duration: 4.3080490174s;
  animation-delay: -3.4167757659s;
}
bokeh:nth-child(100) {
  background-color: #F38181;
  transform: translate(6.3033136907vw, 97.3233116893vh);
  animation-duration: 3.3863216361s;
  animation-delay: -4.5118482045s;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}
