@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/223219/pexels-photo-932638%20(1).jpeg") no-repeat center center fixed;
}

%spaceDiv{
    height: 500px;
    position: relative;
  
  &:before{
    content: "";
    position: absolute;
    opacity: 0.3;
    height: 100%;
    width: 100%;
  }
}

.spaceDivTop{
  @extend %spaceDiv;
  
  &:before{
    background: linear-gradient(to bottom, rgba(255,129,0,1) 0%,rgba(125,185,232,0) 100%); 
  }
}

.spaceDivBottom{
  @extend %spaceDiv;
  
  &:before{
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(255,129,0,1) 100%); 
  }
}
  
.contentDiv{
    height: 300px;
    position: relative;
    z-index: 1;
}
  

section{
  position: absolute;
  font-family: 'Amatic SC', cursive;
  top: 50%;
  left: 10vw;
  transform: translate3d(0%, -50%, 0);
  font-size: 8vw;
  color: #fff;
  text-shadow: 3px 3px 1px #da3e3e;
  width: 80vw;
  text-align: center;
}

.imgRight{
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translate3d(0%, -50%, 0);
  width: 50vw;
}

.imgLeft{
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translate3d(0%, -50%, 0);
  width: 50vw;
}

.scroll{
  color: white;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  text-shadow: 3px 3px 1px #da3e3e;
  text-align: center;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  
  p{
    line-height: normal;
  }
}

.scrollArrows{
  height: 70px;
  path{
    animation: arrowAnimation .6s ease-in-out infinite alternate;
  
    &:nth-child(1){
      animation-delay: -.4s;
    }

    &:nth-child(2){
      animation-delay: -.2s;
    }
  }
  
}

@keyframes arrowAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}