@keyframes cfFadeInOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#cf {
    position: relative;
    margin: 0 auto;
}

#cf img {
    max-width: 100%;
    height: auto;
}

#cf img.top {
    position: absolute;
    left: 0;
    top: 0;
}

#cf img.transparent {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-direction: alternate;
}
