.wrap-schedule {
    padding: 0 0 20px 0;
    background: #FFF;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
}

.wrap-schedule::-webkit-scrollbar-button {
			height: 5px;
			background: #ff6700;
		}
		.wrap-schedule::-webkit-scrollbar {
			width: 5px;
height: 10px;
			background:#e4e4e4;
		}
		.wrap-schedule::-webkit-scrollbar-thumb {
			background: #333;
		}
		

.block-table {
    position: relative;
    width: 1123px;
    margin: 0 auto;

}

.disease-name {
    float: left;
    width: 22.369%;
}

.disease-schedule {
    position: absolute;
    right: 0;
    top: 0;
    width: 77.6312%;
background: #fff;
/*border-radius: 0 15px 0 0;*/
}

.div-item {
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 130%;
    height: 62px;
    border-top: 1px solid #f6f6fb;
    border-right: 1px solid #f6f6fb;
}

.div-item:first-child {
    height: 41px;
    border: none;
    background: #3c3c7f;
    /*border-radius: 15px 0 0;*/
    position: relative;
    font-size: 12px;
}

.wrap-line-item {
    position: relative;
    border-top: 1px solid #f6f6fb;
    height: 62px;
}

.wrap-line-item:first-child {
    border: none;
    height: 41px;
    background: #444491;
    /*border-radius: 0 15px 0 0;*/
}

.item-timeline {
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-timeline.width-1 {
    width: calc(872px / 10 * 1 - 2px)
}

.item-timeline.width-2 {
    width: calc(872px / 10 * 2)
}

.item-timeline.width-3 {
    width: calc(872px / 10 * 3)
}

.item-timeline.width-4 {
    width: calc(872px / 10 * 4)
}

.item-timeline.width-5 {
    width: calc(872px / 10 * 5)
}

.item-timeline.width-6 {
    width: calc(872px / 10 * 6)
}

.item-timeline.width-7 {
    width: calc(872px / 10 * 7)
}

.item-timeline.width-8 {
    width: calc(872px / 10 * 8)
}

.item-timeline.width-9 {
    width: calc(872px / 10 * 9)
}

.item-timeline.width-10 {
    width: calc(872px / 10 * 10)
}

.item-timeline.position-0 {
    left: calc(872px / 10 * 0 + 1px)
}

.item-timeline.position-1 {
    left: calc(872px / 10 * 1)
}

.item-timeline.position-2 {
    left: calc(872px / 10 * 2)
}

.item-timeline.position-3 {
    left: calc(872px / 10 * 3)
}

.item-timeline.position-4 {
    left: calc(872px / 10 * 4)
}

.item-timeline.position-5 {
    left: calc(872px / 10 * 5)
}

.item-timeline.position-6 {
    left: calc(872px / 10 * 6)
}

.item-timeline.position-7 {
    left: calc(872px / 10 * 7)
}

.item-timeline.position-8 {
    left: calc(872px / 10 * 8)
}

.item-timeline.position-9 {
    left: calc(872px / 10 * 9)
}
