body {
  margin:0;
  padding:0;
  background: #303030;
}
.cover {
  position:absolute;
  left:50%;
  top:50%;
  transform-style:preserve-3d;
  transform:translate(-50%,-50%) perspective(2000px);
  width:300px;
  height:400px;
  background:#fff;
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
  transition: 1.5s;
}
.cover:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}
.cover:before {
  content:'';
  position:absolute;
  top:-5px;
  left:0;
  width:100%;
  height:5px;
  background: #323a3c;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.cover:after {
  content:'';
  position: absolute;
  top:-5px;
  right:-5px;
  width:5px;
  height:101%;
  background: #323a3c;
  transform-origin: left;
  transform: skeyY(-45deg);
  z-index:1;
}
img {
  overflow:hidden;
  width:300px;
  height:400px;
}
.cover .imgBox {
  overflow:hidden;
  width: 100%;
  height: 100%;
  position:relative;
  transform-origin: left;
  transition: 2s cubic-bezier(.27,1.03,.75,.43);
  z-index:1;
}

.cover:hover .imgBox {
  transform: rotateY(-175deg);
}

.cover .frontPage {
  position:absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  padding:20px;
}
h2 p {
  padding:0;
  margin:0;
}

h2 {
  font-size:12px;
  line-height:16px;
  text-align:center;
  font-weight:bold;
}

.pagenumber {
  text-align:right;
}

p {
  text-align:justify;
  font-size:6px;
}