* {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  top: -12px;
  left: 82%;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

button {
  margin: 10px 0;
  margin-bottom: 0;
  background: #e74749;
  opacity: 1;
  width: 100%;
  height: 200px;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.56);
}

textarea {
  position: absolute;
  padding: 10px;
  width: 100%;
  top: 250px;
  height: 600px;
  overflow: auto;
  font-size: 20px;
  color: rgba(241, 241, 241, 0.56);
  background: #232534;
}

.tooltip .tooltipText, button, textarea {
  border: none;
  border-radius: 6px;
}

.circleButton {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  color: #232534;
  background: #e74749;
  opacity: 0.6;
  top: 500px;
  left: 20px;
  z-index: 1;
  transition: transform 200ms ease-out;
}

.circleButton:hover {
  opacity: 1;
  cursor: pointer;
}

.bar {
  position: absolute;
  visibility: hidden;
  width: 2px;
  height: 500px;
  background: #232534;
  border-style: solid;
  border-color: #e74749;
  border-width: 3px;
  border-radius: 5px;
  left: 46px;
  top: 300px;
  opacity: 0.6;
}

.flag {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 30px;
  background: linear-gradient(to right, #232534, #e74749);
  left: 70px;
  top: 525px;
  opacity: 1;
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  padding-top: 5px;
}

.label {
  position: absolute;
  visibility: hidden;
  border-radius: 5px 5px 0 0;
  transform: rotateZ(90deg);
  width: 35px;
  height: 15px;
  background: #e74749;
  left: 162px;
  top: 535px;
  text-align: center;
  color: #232534;
  font-size: 2px;
  font-weight: bold;
}
