



/* =========================================================================== */
/* the animations */
/* fade */
.tooltip-container.fade:after,
.tooltip-container.fade .tooltip {
  transform: translate3d(0, -10px, 0);
  transition: all .15s ease-in-out;
}
.tooltip-container.fade:hover:after,
.tooltip-container.fade:hover .tooltip {
  
  transform: translate3d(0, 0, 0);
}

/* expand */
.tooltip-container.expand .tooltip {
  transform: scale3d(.2, .2, 1);
  transition: all .2s ease-in-out;
}
.tooltip-container.expand:after {
  transform: translate3d(0, 6px, 0);
  transition: all .1s ease-in-out;
}
.tooltip-container.expand:hover .tooltip,
.tooltip-container.expand:hover:after {
  transform: scale3d(1, 1, 1);
}
.tooltip-container.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}




@bgColor: rgba(0, 0, 0, .75);


/* Thiết lập tooltip container */
.tooltip-container {
	/* Thiết lập relative để các thành phần con (.tooltip) là absolute */
  position: relative;
	/* Có thể ở trong một đoạn văn */
  display: inline-block;

  //padding: 0 10px;
  //margin-right: 50px;
	/* If you want dots under the hoverable text */
	//border-bottom: 1px dotted black;

	/* Có 2 thành phần con là nội dung tooltip và dấu mũi tên */
	.tooltip,
	&:after {
		display: block;
		opacity: 0;
		user-select: none;
		pointer-events: none;
		position: absolute;
		z-index: 1;
		

		/* Hidden by default */
		//visibility: hidden;
	}

	/* Nội dung tooltip */
	.tooltip {
		background: @bgColor;
		color: #fff;
		box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
		text-align: center;
		border-radius: 2px;
		
		
		
		/* Fade in tooltip */
		opacity: 0;
    transition: opacity 1s;
  
  	font-size: 14px;
  	padding: 6px 10px;
  	//top: 26px;
  	white-space: nowrap;
	}

	/* Dấu mũi tên */
	&:after {
		//opacity: 1;
		width: 0;
		height: 0;
		content: '';
		border-style: solid;
		border-width: 5px;
		border-color: transparent;
	}
	
	&.right {
		.tooltip {
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
			margin-left: 15px;
		}
		
		&::after {
			top: 50%;
			margin-top: -5px;
			left: 100%;
			margin-left: 5px;
			border-color: transparent @bgColor transparent transparent;
		}
	}
	
	&.left {
		.tooltip {
			top: 50%;
			transform: translateY(-50%);
			right: 100%;
			margin-right: 10px;
		}

		&::after {
			top: 50%;
			margin-top: -5px;
			right: 100%;
			margin-right: 0px;
			border-color: transparent transparent transparent @bgColor;
		}
	}
	
	&.top {
		.tooltip {
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 5px;
		}
		
		&::after {
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			margin-bottom: -5px;
			border-color: @bgColor transparent transparent transparent;
		}
	}
	
	&.bottom {
		.tooltip {
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 5px;
		}
		
		&::after {
			top: 100%;
			left: 50%;
			margin-left: -5px;
			margin-top: -5px;
			border-color: transparent transparent @bgColor transparent;
		}
	}
} 

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover {
	/* Đổi màu để biết đang ở phần tử nào */
	color: yellow;

	/* Hiển thị nội dung tooltip và mũi tên */
	.tooltip,
	&::after {
		visibility: visible;
		opacity: 1;
	}
}
