
#container {
	margin: 60px auto;
}

#upload-file {
	display: none;
}

#choose-upload-button {
	display: block;
	margin: 0 auto;
}

#upload-file-final-container {
	display: none;
	text-align: center;
}

#file-name {
	color: #336699;
	display: inline-block;
	vertical-align: middle;
}

#upload-progress {
	margin: 20px 0 0 0;
	text-align: center;
	display: none;
}

#error-message {
	display: none;
	text-align: center;
	color: #c0392b;
	margin: 20px 0 0 0;
}