<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">	
		<div>
			<!-- href="vnexpress.net" -->
			<a href="#" ng-click="handleClick()">
				<span ng-if="!processing">Click Me!</span>
				<span ng-if="processing">Processing</span>
			</a>
		</div>
		<p>{{count}}</p>
	</div>

	<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope) {
    $scope.count = 0;
	
	$scope.processing = false;
	
	$scope.handleClick = function() {
		$scope.count = $scope.count + 1;
		
		$scope.processing = true;
		
		setTimeout(function() {
			$scope.$apply(function() {
				$scope.processing = false;
			});
		}, 2000);
	};
});
	</script>
</body>
</html>
