body {
  background: #3D4D65;
  color: #fff;
  user-select: none;
  overflow: hidden;
}

#title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 40px;
  font-size: 30px;
  margin: 100px auto 25px auto;
  display: block;
  text-align: center;
}

#snakeCanvas {
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 30px rgba(255,255,255,0.15), inset 0 0 100px rgba(0,0,0,0.2);
  border: 3px solid rgba(255,255,255,0.5);
}

#tutorial {
  display: none;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 320px;
}

.keybtnGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.keybtnGroup > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.keybtn {
  border: 2px solid rgba(255,255,255,1);
  border-radius: 10%;
  padding: 10px;
  margin: 0 5px;
  width: 15px;
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.5);
  text-align: center;
}


@keyframes bounceup {
  from, 45%, 80%, to {
    transform: translate3d(0,0,0) scale(1);
  }

  20% {
    transform: translate3d(0, 9px, 0) scale(0.97);
  }
  
  60% {
    transform: translate3d(0, 3px, 0) scale(0.99);
  }
  
  90% {
    transform: translate3d(0, 1px, 0);
  }
}

@keyframes wobble {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-40px, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(35px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-25px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(15px, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
}

@keyframes highlight {
  from, to {
    box-shadow: 0 0 30px rgba(255,255,255,0.15), inset 0 0 70px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0);
  }

  30% {
    box-shadow: 0 0 20px rgba(255,255,255,0.4), inset 0 0 70px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.007);
  }
}

.highlight {
  animation-name: highlight;
  transform-origin: center bottom;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}


.wobble {
  animation-name: wobble;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceup {
  animation-name: bounceup;
  transform-origin: center bottom;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}