@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  }


/*placeholder styles start*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #dbdbdb;font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dbdbdb;font-size: 12px;
  
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dbdbdb;font-size: 12px;
  
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #dbdbdb;font-size: 12px;
 #b7b7b7
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #dbdbdb;font-size: 12px;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #dbdbdb;font-size: 12px;
}
/*placeholder styles end*/

body {
background-color:black;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  padding: 0px;
   margin: 0px;
}

}
 .wrapper {
    position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -100px;
  overflow: hidden;
}
.wrapper .form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
/*form container start*/
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 75px 0;
  height: 300px;
  text-align: center;
}
/*form container end*/
/*logo instagram*/

/*.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}*/
/*logo end*/
form {
  /*padding: px 0;*/
  position: relative;
  z-index: 2;
}
form input {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 0px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, .25);
  width: 250px;
  border-radius: 2px;
  padding: 10px 16px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
  font-size: 15px;
  color: #ffff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
	border: 1px solid rgba(255, 255, 255, 0.35);
	background:transparent;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background:transparent;
  border: 3px;
  padding: 10.5px 15px;
 color:#d6d6d6;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 12px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  
   border: 1px solid rgba(255, 255, 255, 0.5);
}


#gradient {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #836997;
}

/* Footer START */

#bottom{
display:block;
    position: fixed; 
    background:rgba(255,255,255,0.08);
    width:100%;
    bottom:0;
 padding: 11px 50px;
  border-top: 1.5px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style:solid;
  border-color:rgba(255,255,255,0.2);
}
/* Footer END */

/* ----------or---------- Start*/

.separator {
  font-size:15px;
    display: flex;
    align-items: center;
    text-align: center;
  padding:8px;
  
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  margin: 0px 40px;
  
}
.separator::before {
    margin-right: .55em;
 
}
.separator::after {
    margin-left: .55em;
}

/* ----------or---------- end*/

.ag{
  padding:4px;
}
.lang{
  font-size:14px;
  text-align:center;
  padding:10px;
  
}