BODY		{
		background-color: #ABD5DB;
		margin-bottom:0%;
		margin-left:0%;
		margin-right:0%;
		margin-top:0%;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10pt;
		color: #000000;
		}

table       	{ 
	   	font-size: 10pt; 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-weight: normal; 
		color: #000000;
		}

td          
		{ 
		font-size: 10pt;
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-weight: normal; 
		color: #000000;
		}

p	    	{ 
		font-size: 10pt; 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-weight: normal; 
		color: #00000;
		}

h1	   	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 12pt; 
		color: #336699; 
		font-weight: bold;
		}

h2         	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 11pt; 
		color: #336699; 
		font-weight: bold;
		}

h3         	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 10pt; 
		color: #000000; 
		font-weight: normal; 
		font-style: italic;
		}

h4         	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 8pt; 
		color: #336699; 
		font-weight: normal;
		}

h5	   	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 10pt; 
		color: #336699; 
		font-weight: bold;
		}

ul         	{ 
		font-size: 10pt; 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-weight: normal;
		color: #000000;
		}

a          	{ 
		text-decoration: none; 
		color: #000000; 
		font-weight: bold; 
		}

A:link 	   	{ 
		text-decoration: none; 
		color: #000000; 
		font-weight: bold;
		} 

A:hover	   	{ 
		text-decoration: none; 
		color: #FFFFFF; 
		font-weight: bold;
		} 

A:visited  	{ 
		text-decoration: none; 
		font-weight: bold;
		}

.smallblack  	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: normal;
		}

.sidebar   	{ 
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: normal;
		border-width: 1px;
		border-style: dashed none none none; 
		border-color: #ABD5DB;
		}

.boxborder  	{ 
		border-width: 2px;
		border-style: dashed dashed dashed dashed; 
		border-color: #64A6BC;
		font-family: "Verdana", "Arial", "Geneva", "Helvetica", "sans-serif"; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: normal;
		}

.menuskin	{
		position:absolute;
		width:165px;
		background-color:#64A6BC;
		border:1px solid black;
		font:normal 10px Verdana;
		line-height:18px;
		z-index:100;
		visibility:hidden;
		}

		.menuskin a{
		text-decoration:none;
		color:black;
		padding-left:5px;
		padding-right:5px;
		}

		#mouseoverstyle{
		background-color:highlight;
		}

		#mouseoverstyle a{
		color:white;
		}

.formbutton 	{
  		font-family: Verdana, Geneva, sans-serif; 
  		font-size: 14px;
  		font-weight: bold; 
  		color: #182C34; 
  		background-color: #EFBC8F; 
  		border: 1px solid; 
  		border-color: #F18B2E #F18B2E #F18B2E #F18B2E;
  		}


