@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/223219/pexels-photo-932638%20(1).jpeg") no-repeat center center fixed;
}

.spaceDivTop, .spaceDivBottom {
  height: 500px;
  position: relative;
}
.spaceDivTop:before, .spaceDivBottom:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  height: 100%;
  width: 100%;
}

.spaceDivTop:before {
  background: linear-gradient(to bottom, #ff8100 0%, rgba(125, 185, 232, 0) 100%);
}

.spaceDivBottom:before {
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #ff8100 100%);
}

.contentDiv {
  height: 300px;
  position: relative;
  z-index: 1;
}

section {
  position: absolute;
  font-family: 'Amatic SC', cursive;
  top: 50%;
  left: 10vw;
  -webkit-transform: translate3d(0%, -50%, 0);
          transform: translate3d(0%, -50%, 0);
  font-size: 8vw;
  color: #fff;
  text-shadow: 3px 3px 1px #da3e3e;
  width: 80vw;
  text-align: center;
}

.imgRight {
  position: absolute;
  top: 50%;
  right: -35%;
  -webkit-transform: translate3d(0%, -50%, 0);
          transform: translate3d(0%, -50%, 0);
  width: 50vw;
}

.imgLeft {
  position: absolute;
  top: 50%;
  left: -35%;
  -webkit-transform: translate3d(0%, -50%, 0);
          transform: translate3d(0%, -50%, 0);
  width: 50vw;
}

.scroll {
  color: white;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  text-shadow: 3px 3px 1px #da3e3e;
  text-align: center;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.scroll p {
  line-height: normal;
}

.scrollArrows {
  height: 70px;
}
.scrollArrows path {
  -webkit-animation: arrowAnimation .6s ease-in-out infinite alternate;
          animation: arrowAnimation .6s ease-in-out infinite alternate;
}
.scrollArrows path:nth-child(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.scrollArrows path:nth-child(2) {
  -webkit-animation-delay: -.2s;
          animation-delay: -.2s;
}

@-webkit-keyframes arrowAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrowAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
