#mainFrame #listDiv {
  max-height: 550px;
  overflow: auto;
  margin-bottom: 30px;
  /*
		&:hover {
			overflow: auto;
		}
		*/
}
#mainFrame #listDiv p {
  padding-right: 16px;
}
@media (min-width: 768px) {
  #mainFrame #listDiv {
    width: 40%;
  }
}
#mainFrame #mplayer #titleDiv {
  color: #009DDE;
  font-size: 16px;
  font-weight: bold;
  min-height: 20px;
  margin-bottom: 15px;
}
#mainFrame #mplayer audio {
  display: block;
  width: 320px;
  margin-bottom: 20px;
}
#mainFrame #mplayer #authorSpan,
#mainFrame #mplayer #readerSpan {
  font-weight: bold;
  color: cadetblue;
}
#mainFrame #mplayer #descriptionDiv {
  margin-top: 5px;
}
@media (min-width: 768px) {
  #mainFrame #mplayer {
    width: 55%;
  }
}
@media (min-width: 768px) {
  #mainFrame {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
