body {
  background-color: rgb(25, 25, 25);
}

h1 {
  color: #f2f2f2;
  font-weight: 100;
}

h2 {
  color: #f2f2f2;
  font-weight: 200;
}

h3 {
  color: #f2f2f2;
  font-weight: 100;
}
p{
 color: #f2f2f2;
}
a{
  cursor:pointer;
}
.lead{
  color: #f2f2f2;
  font-weight:200;
}
span {
  font-weight: 400;
}
.navbar {
  background-color: rgba(15,15,15,0.9);
}

.navbar a {
  color: #f2f2f2;
  font-weight: 200;
}
.over-poster img{
  width:100%;
  padding-top: 25px;
}
.main {
  background-color: rgb(22, 22, 22);
}
.search{
  background-color:rgb(255,255,255);
  color:rgb(5,5,5);
  font-size: 1.25em;
  cursor:pointer;
}
.search i{
  width:40px;
}
.rating {
  color:rgba(255,215,0,0.9);
  display:none;
}
.movies {
  margin:0;
  padding:0;
}
.tv {
  margin:0;
  padding:0;
}
.tiles img{
 /*height:317px;*/
  height:100%;
  width: 100%;
  border-radius: 4px;
  border: 3px solid #161616;
  cursor: pointer;
}
.tagline{
  font-weight:100;
}
.tiles img:hover {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #4d4dff;
  opacity: 0.4;
  background: #FFFFFF;
}
nav ul li.droptv{
  display:none;
}

.tv img {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #161616;
  cursor: pointer;
}

.tv img:hover {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #4d4dff;
  opacity: 0.4;
  background: #FFFFFF;
}

.overview {
  padding: -10px 0 10px 0;
}
.overview .poster{
  padding-top: 20px;
  width:100%;
  height: auto;
  border-radius:4px;
  overflow: hidden;
}
.runtime{
  font-size:0.5em;
  font-weight:200;
  color:rgba(255,255,255,0.8);
}
.imdb img{
  width: 50px;
  height: auto;
}
.exit{
  position: absolute;
  top:-25px;
  left: 20px;
  color:rgba(255,102,102,0.9);
  font-size: 2em;
  font-weight:100;
  cursor:pointer;
}

.background img {
  position: absolute;
  left: 0;
  top: -25px;
  height: auto;
  width: 100% !important;
  overflow:hidden;
  opacity:0.2;
}
.more {
  color:rgba(255,102,102,0.9);
  font-size: 5em;
  cursor:pointer;
}
.more i:hover{
  color:rgba(240,202,202,0.9);
}
.bottom{
  height:100px;
}
.moreTV{
  display:none;
  color:rgba(255,102,102,0.9);
  font-size: 5em;
  cursor:pointer;
}
