/* Reusing whole classes */
/* Capitalize the first letter to differentiate mixin from class selector */
.RoundCorner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#login-box {
    .RoundCorner;
}
.MyPadding(@pd: 5px) {
    padding: @pd;
}
#main {
    .MyPadding(3px);
}