@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #2193b0;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center, blockquote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

blockquote {
  padding: 0;
  margin: 0;
  width: 350px;
  box-sizing: border-box;
  quotes: '“' '”';
}
blockquote .quote {
  margin: 0 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
blockquote .quote .tooltip {
  background: #154360;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
blockquote .quote .tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: #154360;
  color: #fff;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  bottom: 95px;
  right: -60%;
  font-size: 0.65em;
  line-height: 1em;
  transition: all .6s;
}
blockquote .quote .tooltip .tooltiptext .header {
  background-color: #fff;
  color: #154360;
  padding: 5px;
}
blockquote .quote .tooltip .tooltiptext .definition {
  width: 100%;
  color: #fff;
  background: #154360;
  box-sizing: border-box;
  margin: 0;
  padding: 7px;
  line-height: 1.4em;
  align-self: center;
}
blockquote .quote .tooltip .tooltiptext:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid 10px transparent;
  border-top: solid 10px #154360;
}
blockquote .quote .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  bottom: 45px;
}
blockquote:after {
  content: '”';
  content: close-quote;
  font-family: Arial;
  font-size: 10em;
  position: absolute;
  top: -40px;
  color: rgba(255, 255, 255, 0.3);
}
blockquote:before {
  content: '';
  content: no-open-quote;
}
blockquote footer {
  font-size: 1.2em;
  font-weight: 100;
  margin-left: 10px;
  margin-top: 10px;
  font-style: italic;
}

.first-word {
  font-weight: 700;
}

.hero:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: solid 50px #e15915;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}
