* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Tahoma;
}

main {
    display: flex;
}

#main-left {
    flex: 1;
    max-width: 400px;
}

#main-right {
    width: 580px;
}

#float-player {
    width: 560px;
    height: 315px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#result-search {
    margin: 0 20px;
}

.item-video {
    height: 100px;
    padding: 10px 0px;
    border-bottom: 1px solid #bbdefb;
    display: flex;
}
.item-video:hover {
    background-color: #eceff1;
}
.item-video .thumb {
    width: 120px;
    height: 80px;
    cursor: pointer;
    object-fit: cover;
}
.item-video div {
    margin-left: 20px;
}
.item-video div .title {
    color: #1565c0;
    font-size: 16px;
}
.item-video div .len {
    color: #ff9800;
    font-size: 16px;
}

#main-right iframe {
    margin: 0 auto;
}

#currentTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    color: #81c784;
}
.clear-fix {
    clear: both;
}
