.wrap-preload.circle-ball
	.overlay
	.wrap-content
		.wrap-circle-ball
			.wrap-ball
				.ball.ball-top
				.ball.ball-top
			.wrap-ball
				.ball.ball-bot
				.ball.ball-bot
			.wrap-effect
				.wrap-circle
					.circle-effect.left
					.circle-effect.left
				.wrap-circle
					.circle-effect.right
					.circle-effect.right