* { margin: 0; padding: 0; font-family: "wf_SegoeUI", "Tahoma", "Verdana", "Arial", "sans-serif"; }
a { text-decoration: none; }
a:hover { color: #B91D47; }
#mainFrame { width: 850px; margin: 15px auto 0 auto; }
#listDiv {
	height: 60ex; width: 300px; padding-left: 10px; float: left; overflow: hidden;
	p {
		padding-right: 16px;
		//&:hover { padding-right: 0px; }
	}
	&:hover { overflow: auto; }
}
#mplayer {
	width: 500px; float: right;	
	#titleDiv { color: #009DDE; font-size: 16px; font-weight: bold; height: 20px; margin-bottom: 5px; }
	#avatar { width: 320px; border-width: 0px; }
	audio { display: block; width: 320px; }
	#authorSpan, #readerSpan { font-weight: bold; color: cadetblue; }
	#descriptionDiv { margin-top: 5px; font-style: italic; }
}
