/* Style chung */
ul.drag-sort-enable {
    margin: 0;
    padding: 0;
    max-width: 500px;
}

li {
    margin: 5px 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background: #136a8a;
    background: linear-gradient(to right, #267871, #136a8a);
    color: #fff;
    list-style: none;

    cursor: move;
    transition: .2s ease-in-out;
}

/* Style riêng cho drag-sort (phần tử đang được drag) */
.drag-sort-active {
    background: transparent !important;
    color: transparent;
    border: 1px dashed #4ca1af !important;
}

.drag-sort-active > div {
    visibility: hidden;
}