.container2 form .pss input{
/*    -ms-width: calc(100% - 20px);
    -webkit-width: calc(100% - 20px);
    -moz-width: calc(100% - 20px);
    -o-width: calc(100% - 20px);
    width: -ms-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);*/
    width: 100%;
    padding: 5px 0;
    text-indent: 5px;
}

@media screen and (min-width: 768px){
    .container, .container2{
        -ms-width: calc(100% - 62px);
        -webkit-width: calc(100% - 62px);
        -moz-width: calc(100% - 62px);
        -o-width: calc(100% - 62px);
        width: -ms-calc(100% - 62px);
        width: -webkit-calc(100% - 62px);
        width: -moz-calc(100% - 62px);
        width: -o-calc(100% - 62px);
        width: calc(100% - 62px);
    }
    
    #container0 {
        -ms-width: calc(100%);
        -webkit-width: calc(100%);
        -moz-width: calc(100%);
        -o-width: calc(100%);
        width: -ms-calc(100%);
        width: -webkit-calc(100%);
        width: -moz-calc(100%);
        width: -o-calc(100%);
        width: calc(100%);
        text-align: center;
        transform: translateY(50%);
        position: absolute;
        min-height: 480px;
    }
}