$breakpoint-pc: 376px;
$breakpoint-sp: 375px;

@mixin mediaquery-pc {
	@media screen and (min-width: ($breakpoint-pc)) {
		@content;
	}
}
@mixin mediaquery-sp {
	@media screen and (max-width: ($breakpoint-sp)) {
		@content;
	}
}

$color1: #FFC7C7;
$color2: #FFE2E2;
$color3: #F6F6F6;
$color4: #8785A2;

//////////////////////////////////////////////////

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

::selection {
	background-color: rgba($color2, 0.3);
	color: $color1;
}
::-moz-selection {
	background-color: rgba($color2, 0.3);
	color: $color1;
}

//////////////////////////////////////////////////

.Contents {
	display: table;
	width: 100%;
	height: 100vh;
	font-family: "Mplus 1p";
	font-weight: 300;
	@include mediaquery-pc {
		font-size: 15px;
	}
	@include mediaquery-sp {
		font-size: 12px;
	}
	color: $color4;
	background-color: $color2;
}

.Contents_block {
	display: table-cell;
	vertical-align: middle;
}

.Tabs {
	width: calc( ( 9 / 12 ) * 100% );
	max-width: 1080px;
	margin: 0 auto;
}

.Tabs-menu {
	display: flex;
}

.Tabs-menu_unit {
	transform: translateY(50%);
	transition: transform 0.1s ease-in-out;

	&.-active {
		transform: translateY(0);
	}

	@include mediaquery-pc {
		&:hover {
			transform: translateY(0);
		}

		&.-active {
			.Tabs-menu_element {
				cursor: default;
			}
		}
	}
}

.Tabs-menu_element {
	display: block;
}

.Tabs-menu__icon {
	vertical-align: bottom;
	fill: $color3;
}

.Tabs-content {
	height: 50vh;
	max-height: 360px;
	position: relative;
}

.Tabs-content_unit {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	@include mediaquery-pc {
		padding: 30px;
	}
	@include mediaquery-sp {
		padding: 20px;
		-webkit-overflow-scrolling: touch;
	}
	overflow-y: auto;
	background-color: $color3;
	border-radius: 10px;

	&.-active {
		display: block;
	}
}

.Tabs-content__head {
	@include mediaquery-pc {
		font-size: 30px;
	}
	@include mediaquery-sp {
		font-size: 24px;
	}
}

.Tabs-content__text,
.Tabs-content__list {
	margin-top: 20px;
	line-height: 2;
}

.Tabs-content__list_block {
	display: flex;
}

.Tabs-content__anchor {
	text-decoration: none;
	color: inherit;
	background-color: $color2;

	@include mediaquery-pc {
		&:hover {
			background-color: rgba($color2, 0.7);
		}
	}
}