img { max-width: 100%; height: auto; }
.demo { position: relative; }
.show-off {
	position: absolute; top: -180px; left: -360px; width: 500px; height: 500px;

	-webkit-transform: rotate(30deg);
	   -moz-transform: rotate(30deg);
	     -o-transform: rotate(30deg);
	        transform: rotate(30deg);
		
	/*background:         linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 100%);*/
	background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 100%);
	background:    -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 100%);
	background:      -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 100%);
}