body, html {
   height: 100%;
}

.title {
   font-family: Pavanam, sans-serif;
   font-weight: 400;
   text-align: center;
   color: #fff;
}

.split-1 {
   background: #000046; /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 4em 2em;
}

.split-2 {
   background-color: #1B2950;
   padding: 4em 2em;
}

.split-3 {
   background-color: #1B2950;
   padding: 4em 2em;
}

.split-4 {
   background-color: #1B2950;
   padding: 4em 2em;
}

.split-5 {
   background-color: #1B2950;
   padding: 4em 0;
   text-transform: uppercase;
}

.split-end {
   background: #000046; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 4em 2em;
}

.parallax {
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
   color: #fff;
}

.para-1 {
      background-image: url(https://www.nps.gov/npgallery/GetAsset/BF56C235-1DD8-B71B-0B9D029652502E9E/proxy/hires/);
}

.para-2 {
      background-image: url(https://www.nps.gov/npgallery/GetAsset/C05B33BB-1DD8-B71B-0B4EA29F6313D9A4/proxy/hires/);
}

.para-3 {
      background-image: url(https://www.nps.gov/npgallery/GetAsset/C0EF4686-1DD8-B71B-0BD1C1D3649E3BA6/proxy/hires/);
}

.para-4 {
      background-image: url(https://www.nps.gov/npgallery/GetAsset/C1AE9215-1DD8-B71B-0B8CCCFA5F9BD50C/proxy/hires/);
}

.footer {
   text-transform: lowercase;
   color: #2a2a2a;
}