@keyframes highlight {
    0% {
        color: #2ac791;
    }

    25% {
        color: #23b583;
    }

    50% {
        color: #1ba777;
    }

    70% {
        color: #23b583;
    }

    100% {
        color: #2ac791;
    }
}

.highlighted {
    animation: highlight 2s infinite;
}

.new {
    background: yellow;
}
