.tree
    - for (var t=1; t<=22; t++)
        .tree__item(class="tree__item_"+t)
            .tree__stamb
            - for (var b=1; b<=4; b++)
                .tree__branch(class="tree__branch_"+b)
