body#color{background:#ede8e0}
#logo{background:url(../images/logo.png) no-repeat 0px 3px}
#advert1{background:#ede8e0 url(../images/advert1_beige.gif) repeat-x left top}
#advert1l{background:url(../images/advert1l_beige.gif) no-repeat left top}
#advert1r{background:url(../images/advert1r_beige.gif) no-repeat right top}
#clouds{background:url(../images/clouds_beige.jpg) no-repeat center 5px}
#banner{border:1px solid #d2c5af}
#loginbox{color:#9f8f74; background:url(../images/loginboxbg_beige.png) no-repeat left top}
#topusers{height:198px; width:100%; margin:0 auto; text-align:center; background:#5b6c02 url(../images/topusersbg.jpg) repeat-x left top}
#tul{background:url(../images/tul_beige.jpg) no-repeat left top; width:100%; height:198px}
#tur{background:url(../images/tur_beige.jpg) no-repeat right top; width:100%; height:198px}
#topusers_r{height:198px; width:100%; margin:0 auto; text-align:center; background:#5b6c02 url(../images/topusersbg_s_beige.gif) repeat-x left top}
#tul_r{background:url(../images/tul_s_beige.gif) no-repeat left top; width:100%; height:198px}
#tur_r{background:url(../images/tur_s_beige.gif) no-repeat right top; width:100%; height:198px}

#advert1 .search{margin:0 auto; text-align:center; width:650px; margin-top:80px; padding-left:50px}
#advert1 .search .inputbox{background:url(../images/searchbox_beige.jpg) no-repeat left center; height:42px; line-height:42px; font-family:Tahoma; font-size:30px; color:#a8a5a5; width:472px; border:0; padding:0 5px}
#advert1 .search .button{width:136px; height:44px; text-indent:7500px; padding:0; outline:0; border:none; background:url(../images/button_beige.jpg) no-repeat left top}

#advert1 .yjlivecont{background:url(../images/searchbox_beige.jpg) no-repeat 72px top; margin:0 auto; text-align:center; width:650px; margin-top:84px; padding-left:72px; height:50px}
#advert1 .yjlivecont .button{width:136px; height:44px; text-indent:7500px; padding:0; outline:0; border:none; background:url(../images/button_beige.jpg) no-repeat left top; margin:3px 0 0 0}
#advert1 .yj_inputbox{float:left; border:0; height:42px; line-height:42px; font-family:Tahoma; font-size:30px; margin:-2px 0 0 10px}

fieldset{border:1px solid #ede8e0}
#wrap{width:100%; margin:0 auto; text-align:left; height:100% !Important; height:1%; background:url(../images/shl_beige.gif) repeat-y left top}
#insidewrap{height:100% !Important; height:1%; background:url(../images/shr_beige.gif) repeat-y right top}
#wrapblank{width:100%; margin:0 auto; text-align:left; height:100% !Important; height:1%; background:url(../images/shl_beige.gif) repeat-y left top}
#insidewrapblank{height:100% !Important; height:1%; background:url(../images/shr_beige.gif) repeat-y right top}
#cl{height:100% !Important; height:1%; background:url(../images/cl1_beige.gif) no-repeat left top}
#cr{height:100% !Important; height:1%; background:url(../images/cr1_beige.gif) no-repeat right top}
#clb{height:100% !Important; height:1%; background:url(../images/clb1_beige.gif) no-repeat left bottom}
#crb{height:100% !Important; height:1%; background:url(../images/crb1_beige.gif) no-repeat right bottom}

#shelftop{font-size:1.1em; width:100%; margin:0; position:absolute; top:0px; right:0px; height:117px; width:450px; background:#ede8e0 url(../images/loginboxbg_beige.png) no-repeat left bottom; font-size:9px; z-index:100}
a#shelfslide{display:block; padding:0px; width:114px; height:26px; line-height:22px; text-align:center; background:url(../images/loginbut_beige.png) no-repeat; position:absolute; font-size:11px; right:0; top:0px; z-index:100}
#shelftop .moduletable{background:none; border:none; padding:0 5px; height:125px; margin:0}
#shelftop .moduletable h3{background:none; border:none; padding:0 5px; margin:0; background:url(../images/h3_beige.gif) repeat-x left bottom; border:none; padding:3px 3px 1px 23px; font-weight:bold; text-transform:uppercase; color:#9f8f74; overflow:hidden; font-size:12px}
a#shelfslide:hover{text-decoration:none}
#shelftop #mod_login_password, #shelftop #mod_login_username, 
#shelftop #modlgn_passwd, #shelftop #modlgn_username{width:150px; height:19px; padding-left:3px; padding-top:3px; margin-left:10px; color:#9f8f74; border:1px solid #dbceb9}

#mod_login_password, #mod_login_username, 
#modlgn_passwd, #modlgn_username{width:95%; height:19px; padding-left:3px; padding-top:3px; color:#9f8f74; border:1px solid #dbceb9}
#mod_login_password, 
#modlgn_passwd{background:#f6f2eb}
#mod_login h3{color:#333}
#mod_login_username, 
#modlgn_username{background:#f6f2eb}
#mod_login_remember, 
#modlgn_login_remember .inputbox{border:none; padding:0!important}

#top_menu{width:100%; margin:0 auto; height:30px}
#sl{margin:0 auto; width:100%; height:100% !important; text-align:center}
#sr{margin:0 auto; width:100%; height:100% !important; text-align:center}

#navigacija{height:30px; width:auto; float:left}
#navigacija a{color:#9f8f74; font-family:Tahoma; font-size:18px; line-height:30px}
#navigacija a:hover{color:#b4a489}
#navigacija li li{border-top:1px solid #fff; border-bottom:1px solid #cabaa1}
.nav li ul{float:none; left:-999em; position:absolute; width:180px; z-index:5; border-top:1px solid #cabaa1; border-right:1px solid #cabaa1; border-left:1px solid #cabaa1}
#navigacija li.active{}
#navigacija li.active span{}
#navigacija li.active a{color:#9f8f74}
#navigacija li:hover span, 
#navigacija li.sfHover span{}
#navigacija li:hover a, 
#navigacija li.sfHover a{}
#navigacija li:hover span.topdaddy, 
#navigacija li.sfHover span.topdaddy{}
#navigacija li:hover span.topdaddy a, 
#navigacija li.sfHover span.topdaddy a{color:#b4a489}
#navigacija li:hover ul, 
#navigacija li.sfHover ul{background:#ede8e0}
#navigacija li li:hover, 
#navigacija li li.sfHover{background:#e7e0d5}
#navigacija li:hover li a.daddy, 
#navigacija li.sfHover li a.daddy, 
#navigacija li.active:hover li a.daddy, 
#navigacija li.active.sfHover li a.daddy{background:url(../images/strelica_beige.gif) 100% 50% no-repeat}

.nav, .nav *{margin:0; padding:0}
div#navigacija{ position:relative; z-index:50}
div#navigacija .wrapper{position:relative}
#navigacija li li{margin:0}
div#navigacija li li span, 
div#navigacija li.active li span, 
div#navigacija li:hover li span{background:none}
.nav{line-height:1.0; float:left; margin-bottom:1.5em; position:relative}
.nav ul{background:#fff; padding:0}
.nav li{float:left; list-style:none; position:relative; background:none}
.nav li li a{display:block; padding:0; text-decoration:none; background-image:none; float:none; width:135px}
div#navigacija li li a{height:auto; line-height:30px; text-align:left; text-transform:capitalize}
div#sonja li:hover{background-position:0 0}
div#navigacija li:hover li, 
div#navigacija li.sfHover li, 
div#navigacija li.active:hover li, 
div#navigacija li.active.sfHover li, 
div#navigacija li:hover li span, 
div#navigacija li.sfHover li span{background-image:none}
div#navigacija li:hover li a, 
div#navigacija li.sfHover li a, 
div#navigacija li.active:hover li a, 
div#navigacija li.active.sfHover li a{background-image:none}
.nav li:hover ul, 
.nav li.sfHover ul{left:0px; top:30px}
.nav li:hover li ul, 
.nav li.sfHover li ul, 
.nav li li:hover li ul, 
.nav li li.sfHover li ul, 
.nav li li li:hover li ul, 
.nav li li li.sfHover li ul{top:-999em}
.nav li li:hover ul, 
.nav li li.sfHover ul, 
.nav li li li:hover ul, 
.nav li li li.sfHover ul, 
.nav li li li li:hover ul, 
.nav li li li li.sfHover ul{left:180px; top:0px; width:180px}
.nav li li{position:relative; float:none; width:180px}

#navigacija ul{list-style:none; margin:0; padding:0 0 0 0px}
#navigacija li{display:block; float:left; margin:0; margin-right:0px; padding:0}
#navigacija li span{display:block; float:left}
#navigacija a{display:block; float:left; height:30px; line-height:30px; padding:0 15px; font-weight:normal}
#navigacija li li a{font-size:12px; padding:0 15px; color:#9f8f74; min-width:140px}
#navigacija a:hover{text-decoration:none}
#navigacija li:hover, 
#navigacija li.sfHover{background:none}

.module h3, .moduletable h3, 
.componentheading, 
.contentheading, 
.contentheading a:link, 
.contentheading a:visited, 
.contentheading a:link, 
.contentheading a:visited{color:#9f8f74; border-bottom:1px solid #ede8e0}
#pathway{margin-top:9px; padding:3px 5px; border:1px solid #ede8e0}
a:hover, ul a:hover, 
#footmod a.mainlevel:hover, 
#footmod a.mainlevel:active, 
#footmod a.mainlevel:focus, 
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, 
#mainlevel a#active_menu:visited, 
a.mainlevel#active_menu, 
a.sublevel, a.sublevel:hover, 
a.sublevel:active, a.sublevel:focus, 
#active_menu, a.mainlevel:hover, 
a.mainlevel:active, 
a.mainlevel:focus, 
ul li a:hover, 
div.moduletable_shoping h3{color:#b4a489}
.module_yj1 ul li a, .module_yj2 ul li a, 
.module_yj3 ul li a, .module_yj4 ul li a, 
.moduletable_yj1 ul li a, .moduletable_yj2 ul li a{color:#fff; text-decoration:none; list-style-type:circle; list-style-image:none}
.module_yj1 ul li a:hover, 
.module_yj2 ul li a:hover, 
.moduletable_yj1 ul li a:hover, 
.moduletable_yj2 ul li a:hover{text-decoration:underline}
a:link, a:visited{text-decoration:none; color:#9f8f74}
a:focus, a:hover{color:#b4a489; text-decoration:none}
h1, h3, h4, 
h5, h6, h2, 
a.mainlevel, 
#mainlevel li a{color:#9f8f74}
/*BGS*/
.button,.validate{background:#738532 url(../images/buttons2.gif) repeat-x left top; border:1px solid #738532; color:#fff}
a.button:link, 
a.button:visited, 
a.button:focus{color:#fff; padding:3px}
a.readon:link, a.readon:visited, 
a.pagenav, 
.pagenav_prev a, 
.pagenav_next a, 
.pagenavbar a, .back_button a{background:#789002 url(../images/buttons.gif) repeat-x left center; border:1px solid #738532; color:#fff; height:21px; width:109px; text-transform:uppercase; font-weight:normal; line-height:21px; text-indent:15px}
a.readon:hover{color:#38440d}

#mainlevel li a, 
.menu li a, 
a.mainlevel{background:#ede8e0 url(../images/mainlevel_beige.jpg) no-repeat left top}
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
a.mainlevel:hover, 
a.mainlevel#active_menu, 
#mainlevel li a:hover, 
#mainlevel a#active_menu:link, #mainlevel a#active_menu:visited, 
.menu li a:hover, .menu li.active a{background:#ede8e0 url(../images/mainlevel_beige.jpg) no-repeat left bottom}
a.sublevel{background:url(../images/strelica_beige.gif) no-repeat 5px 9px}
a.sublevel:hover{background:url(../images/strelica_hover_beige.gif) no-repeat 5px 9px}
body li{padding-left:15px; background:url(../images/strelica_beige.gif) no-repeat 0px 7px; font-family:Verdana,Arial,Helvetica, sans-serif; font-size:11px; text-decoration:none}
body li:hover{padding-left:15px; background:url(../images/strelica_hover_beige.gif) no-repeat 0px 7px; font-family:Verdana,Arial,Helvetica, sans-serif; font-size:11px; text-decoration:none}
body ul.video li, 
body li.video, 
body li.video:hover{background:url(../images/typ/video.gif) no-repeat 0px 0px}

#footmod .moduletable{border-bottom:1px solid #ede8e0; border-left:none; border-right:none; border-top:none; margin:3px auto; text-align:left; padding:3px 0; background:none; color:#9f8f74; font-size:11px; overflow:hidden; width:99%}
#footmod .moduletable h3{margin:0; padding:0 4px; text-align:left; font-size:10px; border:none; text-transform:uppercase}
#footer a.mainlevel-nav, 
#footer a.mainlevel-nav:active, 
#footer a.mainlevel-nav:focus, 
#footer a.mainlevel-nav:visited{background:none; color:#9f8f74; padding:2px}
#footer a.mainlevel-nav:hover{background:none; color:#b4a489}
#footmod li, #footmod li:hover{list-style-type:none; list-style-image:none; background:none}
#footmod ul li{border:none; text-decoration:none; display:inline; margin-left:0; text-decoration:none; list-style-type:none; list-style-image:none}
.module .syndicate div, 
.moduletable .syndicate div{margin:0px; padding:3px 0}

.module div div div div, 
.module_yj1 div div div div, 
.module_yj2 div div div div, 
.module_advert div div div div{margin:0; padding:0; width:100%; overflow:hidden}
.module p, .module_yj1 p, .module_yj2 p, 
.module_advert p{overflow:hidden; padding:3px}

.module, 
.module_advert, 
.module_yj1{margin:5px 0 7px 0px; padding:0; float:left; clear:both; width:100%; color:#555; height:100% !Important; height:1%}
.module_yj1, .module_yj2{margin:5px 0 7px 0px; padding:0; float:left; clear:both; width:100%; color:#fff; height:100% !Important; height:1%}

.module h3, 
.module_yj1 h3, 
.module_yj2 h3{margin:-4px -5px 5px -5px; padding-left:8px; border:none; padding:3px 3px 1px 23px; font-weight:bold; text-transform:uppercase; overflow:hidden; font-size:14px}
.module div div div, 
.module_yj1 div div div, 
.module_yj2 div div div, 
.module_advert div div div{padding:15px; overflow:hidden}
.module div div div div, 
.module_yj1 div div div div, 
.module_yj2 div div div div, 
.module_advert div div div div{background:none; overflow:hidden}

.module h3{background:url(../images/h3_beige.gif) repeat-x left bottom; color:#9f8f74}
.module{background:url(../images/br_beige.gif) 100% 100% no-repeat}
.module div{background:url(../images/bl_beige.gif) 0 100% no-repeat; height:100% !Important; height:1%}
.module div div{background:url(../images/tr_beige.gif) 100% 0 no-repeat}
.module div div div{background:url(../images/tl_beige.gif) 0 0 no-repeat}
/*yj1*/
.module_yj1 h3{background:url(../images/yj1_h3_beige.gif) repeat-x left bottom; color:#9f8f74}
.module_yj1{background:url(../images/br_yj1_beige.gif) 100% 100% no-repeat}
.module_yj1 div{background:url(../images/bl_yj1_beige.gif) 0 100% no-repeat; height:100% !Important; height:1%}
.module_yj1 div div{background:url(../images/tr_yj1_beige.gif) 100% 0 no-repeat}
.module_yj1 div div div{background:url(../images/tl_yj1_beige.gif) 0 0 no-repeat}

.module_yj2 h3{background:url(../images/yj2_h3_beige.gif) repeat-x left bottom; color:#b59770}
.module_yj2{background:url(../images/br_yj2_beige.gif) 100% 100% no-repeat}
.module_yj2 div{background:url(../images/bl_yj2_beige.gif) 0 100% no-repeat; height:100% !Important; height:1%}
.module_yj2 div div{background:url(../images/tr_yj2_beige.gif) 100% 0 no-repeat}
.module_yj2 div div div{background:url(../images/tl_yj2_beige.gif) 0 0 no-repeat}
.module_yj2 a:link, 
.module_yj2 a:visited, 
.module_yj2 a:focus{color:#bda98c}
.module_yj2 a:hover{color:#b59770}
.module_yj2 #mod_login_password, .module_yj2 #mod_login_username, 
.module_yj2 #modlgn_passwd, .module_yj2 #modlgn_username{background:#ebe1d2; border:1px solid #c9baa5; color:#bda98c}

.module_advert h3{color:#9f8f74; font:normal 10px/10px Arial,Helvetica,sans-serif; margin:-5px 15px 5px 0; width:80px; text-align:center; float:right; text-transform:uppercase}
.module_advert{background:url(../images/br_beige.gif) 100% 100% no-repeat; overflow:hidden}
.module_advert div{background:url(../images/bl_beige.gif) 0 100% no-repeat; height:100% !Important; height:1%}
.module_advert div div{background:url(../images/tr_beige.gif) 100% 0 no-repeat}
.module_advert div div div{background:url(../images/tl_beige.gif) 0 0 no-repeat}

.moduletable p{overflow:hidden; padding:3px}
.moduletable{margin-bottom:10px; padding:0 5px 10px 5px; overflow:hidden; height:100%}
.moduletable h3{text-transform:capitalize; overflow:hidden}
.moduletable{background:none; border:none}

div.moduletable_advert{font:normal 12px Arial,Helvetica,sans-serif; border:1px solid #d8d7d7; margin:0 0 10px 0; text-align:left; color:#312E2E; padding:4px}
div.moduletable_advert h3{background-color:#fff; color:#9F9F9F; font:normal 10px/10px Arial,Helvetica,sans-serif; margin:-7px 0 0; width:80px; text-align:center; float:right}

#slideshow a:link, 
#slideshow a:visited, 
#slideshow a:focus{color:#c5dc16}
#slideshow a:hover{color:#3c4f02}
#slideshow li{padding-left:15px; background:none; font-family:Verdana,Arial,Helvetica, sans-serif; font-size:11px; text-decoration:none}
#slideshow li:hover{padding-left:15px; background:none; font-family:Verdana,Arial,Helvetica, sans-serif; font-size:11px; text-decoration:none}
#slideshow .moduletable h3, 
#slideshow .moduletable h3{color:#fff}

ul.listing{width:100%; display:block; padding:0; margin:10px 0 0 0; float:left; height:100%; border:1px solid #cabaa1; background:#ede8e0; position:relative}
ul.listing li{padding:5px; line-height:10px; text-align:left; font:bold 120%/normal Tahoma; vertical-align:top; background-image:none; border-top:1px solid #fdfaf7; overflow:hidden; color:#9f8f74; display:block; width:99%; height:auto}
ul.listing span{padding:0 10px; color:#9f8f74}
ul.listing img{float:left; vertical-align:top; padding:5px; border:1px solid #cabaa1; background:#ddd4c6; margin:2px}
ul.listing li.agent img{float:none; padding:5px; border:1px solid #fff; background:#ddd4c6; margin:auto; display:block}
ul.listing li.agent{display:block; position:absolute; text-align:center; padding:15px; right:0px; top:0px; width:150px; border-bottom:5px solid #ddd4c6; border-left:5px solid #ddd4c6; background:#ede8e0; font:bold 110%/normal Cambria,"Times New Roman",Times,serif}

.yjnewsflash{background:url(../images/yjns_div_beige.gif) repeat-x left bottom; padding-bottom:5px; display:block; width:auto; margin:0px 0px 5px 0px; overflow:hidden; padding:3px; font-size:12px; height:1% !important; clear:both}
a.yjnfa{font-size:11px; font-weight:bold; text-transform:uppercase; color:#9f8f74}
a.yjnfa:hover{color:#b4a489}
#user4 .yjnewsflash{background:none}
#user4 a.yjnfa{margin:5px 0}
#user5 .yjnewsflash{background:url(../images/yjns_div_beige.gif) repeat-x left bottom; padding-bottom:5px; display:block; width:auto; margin:0px 0px 5px 0px; overflow:hidden; padding:10px; font-size:12px; height:1% !important; clear:both}
.yjnewsflash img{padding:5px; margin:0px 5px 0px 0px; border:1px solid #cabaa1; background:#ddd4c6}
#user5 .yjnewsflash img{padding:0px; margin:0px 5px 0px 0px; border:1px solid #cabaa1}

#top2l{height:100% !Important; height:1%; margin-top:-3px; background:url(../images/top2l_beige.gif) no-repeat left top}
#top2r{height:100% !Important; height:1%; background:url(../images/top2r_beige.gif) no-repeat right top}
#top2bl{height:100% !Important; height:1%; background:url(../images/top2bl_beige.gif) no-repeat left bottom}
#top2br{height:100% !Important; height:1%; background:url(../images/top2br_beige.gif) no-repeat right bottom}
#top2{}
#top2 .moduletable{background:none; border:none}
#top2 .moduletable h3{background:url(../images/yjns_div_beige.gif) repeat-x left bottom; border:none; padding:3px; font-weight:bold; text-transform:uppercase}

#user6, #user7, #user8{float:left; text-align:left; overflow:hidden}
#bottoml{height:100% !Important; height:1%; width:100%; clear:both; background:url(../images/top2l_beige.gif) no-repeat left top}
#bottomr{height:100% !Important; height:1%; background:url(../images/top2r_beige.gif) no-repeat right top}
#bottombl{height:100% !Important; height:1%; background:url(../images/top2bl_beige.gif) no-repeat left bottom}
#bottombr{height:100% !Important; height:1%; background:url(../images/top2br_beige.gif) no-repeat right bottom}
#bottomwrap{width:98%; height:100% !Important; height:1%; text-align:center; margin:0 auto; padding:10px}
#bottom{width:99%; margin:0 auto; padding:10px 3px 5px 3px; overflow:hidden; clear:both}
#bottom .moduletable{background:none; border:none}
#bottom .moduletable h3{background:url(../images/h3_beige.gif) repeat-x left bottom; border:none; padding:3px 3px 0px 23px; font-weight:bold; text-transform:uppercase}
#user6 .yjnewsflash{background:none}
#user7 .yjnewsflash, 
#user8 .yjnewsflash{background:url(../images/yjns_div_beige.gif) repeat-x left bottom; padding-bottom:5px; display:block; width:auto; margin:0px 0px 5px 0px; overflow:hidden; padding:3px; font-size:12px; height:1% !important; clear:both}

div.ToolTips{display:block; position:absolute; width:300px; z-index:100000}
div.ToolTips div.top{display:block; position:relative; background:url(../images/tooltips/top.gif) top center no-repeat; color:#FFF; font-size:14px; border:0; font-weight:bold; padding:5px}
div.ToolTips div.message, div.ToolTips div.message_loading{display:block; position:static; background:#333; color:#FFF; border:0; font-size:11px; padding:10px; text-align:left}
div.ToolTips div.message_loading{background:url(../images/tooltips/loading.gif) center center no-repeat #333; height:30px}
div.ToolTips div.footer{display:block; position:relative; background:url(../images/tooltips/footer.gif) bottom center no-repeat; height:10px}
div.ToolTips div.top a.sticky_close{display:block; position:absolute; background:url(../images/tooltips/close.gif); width:16px; height:16px}

div.ToolTips2{display:block; position:absolute; width:400px}
div.ToolTips2 div.top{display:block; position:relative; background:url(../images/tooltips/top_green.jpg) top left no-repeat; color:#254b00; font-size:14px; font-weight:bold; padding:5px 30px 5px}
div.ToolTips2 div.message, div.ToolTips div.message_loading{display:block; position:relative; background:#72bd2a; color:#FFF; font-size:12px; padding:10px}
div.ToolTips2 div.message_loading{background:url(../images/tooltips/loading.gif) center center no-repeat #333; height:30px}
div.ToolTips2 div.footer{display:block; position:relative; background:#000; height:5px}
div.ToolTips2 div.top a.sticky_close{display:block; position:absolute; background:url(../images/tooltips/close.gif); width:16px; height:16px}

div.YJrl{display:block; position:absolute; width:300px; z-index:100000}
div.YJrl div.top{display:block; position:relative; background:url(../images/tooltips/top_beige.png) bottom center no-repeat; color:#9f8f74; font-size:14px; border:0; font-weight:bold; padding:2px 5px 3px 5px; text-align:left}

div.YJrl div.message, div.YJrl div.message_loading{display:block; position:static; background:#ede8e0 url(../images/tooltips/mid_beige.png) repeat-y left top; color:#9f8f74; border:0; font-size:11px; padding:20px; text-align:left}
div.YJrl div.message_loading{background:url(../images/tooltips/loading_beige.gif) center center no-repeat #333; height:30px}
div.YJrl div.footer{display:block; position:relative; background:url(../images/tooltips/footer_beige.png) bottom center no-repeat; height:23px}

div.YJrl div.top a.sticky_close{display:block; position:absolute; background:url(../images/tooltips/close_beige.png); width:16px; height:16px}

.yj_mor_cal p{color:#7f6642; background:#cabaa1; border:1px solid #eff5fa}
#yj_mor_form label{color:#9f8f74}
#yj_mor_form input{border:1px solid #cabaa1; color:#9f8f74}
#resultbox{color:#9f8f74}
#label_resultbox{color:#9f8f74; border-bottom:1px dashed #9f8f74}

table.pollstableborder tr.sectiontableentry1 td{border:none; background:#d8cebd}
table.pollstableborder tr.sectiontableentry2 td{border:none}
.sectiontableheader{padding:5px; border:1px solid #d8cebd; background:#d8cebd; color:#FFF; font-weight:bold}
.sectiontableentry2{background-color:#ede8e0}

tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2{height:20px; padding:0 10px; line-height:29px}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2{border-bottom:1px solid #fff}
tr.sectiontableentry1 td, td.sectiontableentry1{background-color:#EFEFEF; color:#484747}
tr.sectiontableentry2 td, td.sectiontableentry2{background-color:#f6f5f5; color:#9f8f74}
tr.sectiontableentry1:hover td, tr.sectiontableentry2:hover td{background-color:#E8E8E8; color:#9f8f74}

img.border{border:1px solid #b29d7d; padding:5px; margin:2px 3px 0 0; background:#cabaa1}
.special{background:#FFC; border:1px solid #9E9F63; padding:10px; text-align:center}
.error{padding:5px 5px 5px 25px; color:#C00; background:#ede8e0 url(../images/typ/error_beige.gif) no-repeat center left; border:1px solid #d8cebd}
.message{padding:5px 5px 5px 25px; color:#069; background:#ede8e0  url(../images/typ/info_beige.gif) no-repeat center left; border:1px solid #d8cebd}
.tips{padding:5px 5px 5px 25px; color:#FF5A00; background:#ede8e0  url(../images/typ/tips_beige.gif) no-repeat center left; border:1px solid #d8cebd}
.highlight{border-bottom:1px dashed #888; padding:0 5px; background:#FEFAE1; font-weight:bold}
pre, .code{padding:10px 15px; margin:5px 0 15px; border-left:5px solid #d8cebd; border-right:1px solid #d8cebd; white-space:normal; border-top:1px solid #d8cebd; border-bottom:1px solid #d8cebd; background:#ede8e0; color:#b59770}
div.blockquote{margin:30px 0; border:1px solid #d8cebd; padding:5px 15px 5px 35px; background-color:#ede8e0; color:#806344; background:#ede8e0 url(../images/typ/qlg_beige.gif) no-repeat 0px 2px}
div.blockquote blockquote{margin:0; padding:0; background:url(../images/typ/qrg_beige.gif) no-repeat right bottom}
.dropcap{float:left; padding:4px 8px 0 0; display:block; color:#d8cebd; font-family:Georgia,Times,serif; font-size:50px; line-height:40px}
p.sticky{color:#806344; padding:20px 20px 10px 40px; margin-top:10px; margin-bottom:10px; border-right:1px solid #d8cebd; border-top:1px solid #d8cebd; border-left:5px solid #d8cebd; border-bottom:1px solid #d8cebd; background:#ede8e0 url(../images/typ/sticky_beige.jpg) no-repeat left center}
p.pin{color:#806344; padding:20px 20px 10px 40px; margin-top:10px; margin-bottom:10px; border-right:1px solid #d8cebd; border-top:1px solid #d8cebd; border-left:5px solid #d8cebd; border-bottom:1px solid #d8cebd; background:#ede8e0 url(../images/typ/pin_beige.gif) no-repeat left center}
p.clip{color:#806344; margin-top:10px; margin-bottom:10px; padding:20px 20px 10px 40px; border-right:1px solid #d8cebd; border-top:1px solid #d8cebd; border-left:5px solid #d8cebd; border-bottom:1px solid #d8cebd; background:#ede8e0 url(../images/typ/clip_beige.jpg) no-repeat left center}
p.down{color:#806344; padding:20px 20px 10px 40px; margin-top:10px; margin-bottom:10px; border-right:1px solid #d8cebd; border-top:1px solid #d8cebd; border-left:5px solid #d8cebd; border-bottom:1px solid #d8cebd; background:#ede8e0 url(../images/typ/down_beige.jpg) no-repeat left center}
.blocknumber{clear:both; position:relative; padding-top:5px; padding-right:15px; padding-bottom:10px; padding-left:15px}
.bignumber{float:left; margin-right:15px; margin-bottom:5px; padding:5px 5px 5px 6px; display:block; color:#d8cebd; font-weight:bold; background-position:left top; font-family:Arial,sans-serif; font-size:23px; line-height:normal}
body ul.check, 
body ul.star{margin-left:35px; padding:0}
ul.check li, 
li.check, 
ul.star li, 
li.star{padding-bottom:10px; padding-left:20px; list-style-image:none; list-style-type:none}
body ul.check li, 
body li.check{background:url(../images/typ/check.gif) no-repeat 0 1px}
body ul.check li:hover, 
body li.check:hover{padding-bottom:10px; padding-left:20px; background:url(../images/typ/check.gif) no-repeat 0 1px; color:#9f8f74}
body ul.star li, 
body li.star{background:url(../images/typ/star.gif)   no-repeat 0 1px}
body ul.star li:hover, 
body li.star:hover{padding-bottom:10px; padding-left:20px; background:url(../images/typ/star.gif) no-repeat 0 1px; color:#9f8f74}
ul.video li, 
li.video, 
body li.video:hover{padding-bottom:5px; padding-left:25px; list-style-image:none; list-style-type:none}
body a, body a:hover{cursor:pointer}
