@import url("layout.css"); 
body{text-align:center; padding:0; margin:0 0 10px 0; font-family:Verdana,Arial,Helvetica,sans-serif; color:#555;  line-height:120%; background-color:#FFF}

a:focus{outline:0px}
focus{outline:0px}
h1, h2, h3, h4, h5, h6, p, blockquote, form, label, ul, ol, dl, fieldset, address{margin:0.5em 0}
ul{margin:0px; margin-left:0px; padding:0px; list-style:none}
ul li{padding-left:15px}
fieldset{padding:.5em}
a:link, a:visited{text-decoration:none}
a:hover{text-decoration:none}
h1, .componentheading{font-size:1.7em; line-height:1.7em}
h2, .contentheading{font-size:2.5em; line-height:1.5em}
h3{font-size:1.3em; line-height:1.3em}
h4{font-size:1.2em; line-height:1.2em}
h5{font-size:1.1em; line-height:1.1em}
h6{font-size:1em; line-height:1em; font-weight:bold}
.small, .createdate, .modifydate, .mosimage_caption{text-transform:uppercase; color:#ccc; font:10px Tahoma,Verdana,"Lucida Sans"}
.clr{clear:both; height:1px}
.contentdescription img{padding:5px; margin:15px}
.contentheading{text-transform:uppercase; letter-spacing:normal; font:normal 25px/25px Cambria,serif}
.contentpaneopen{width:100%; padding:0 3px; text-align:left}
.contentpaneopen img{border:1px solid #b29d7d; padding:5px; margin:2px 7px 0 0; background:#cabaa1}
.contentpane{width:100%}
table.contentpaneopen, table.contentpane, table.blog{width:100%}
table.contentpaneopen{border-collapse:separate; border-spacing:3px}
.contentheading a:link, .contentheading a:visited{font:bold normal 14px "Helvetica Neue",Helvetica,Arial,sans-serif}
.contentheading a:hover{text-decoration:underline}
table.contenttoc{margin:0 0 10px 10px; padding:0; width:30%; float:right}
.article_seperator{display:block; margin-top:15px; height:20px; clear:both}
.modifydate, 
.small{}
.modifydate{}
.createdate{padding-bottom:3px}
.small{background:none}

a.readon:link, a.readon:visited{display:block; float:left; font-size:11px}
a.readon:hover{text-decoration:none; color:#fff}
.blog_more strong{margin:0 0 5px; display:block; color:#4F4F4F; font-size:140%}
.category{font-weight:bold; font-size:100%}
td.buttonheading{width:32px}

.mosimage{margin:15px 5px 15px 0; padding:0 5px 5px}
* html .mosimage{/*6*/padding:5px 0 !important; margin:15px 10px 15px 0}
*+html .mosimage{/*7*/padding:5px 0 !important}
.mosimage img{padding:0 !important; margin:0 !important}
.mosimage_caption{margin-top:5px; padding:1px 2px; color:#838383}
.inputbox{background:#FFF; border:1px solid #CCC; margin-top:5px}
.inputbox:hover, .inputbox:focus{background:#F5F5F4; border:1px solid #dcdcdc}
img a, img{border:0; padding:0}
.contentdescription img{padding:0 3px}
.button{padding:1px 3px; color:#fff; border:none}
input#search_searchword{padding:2px}
input.button{margin-top:5px; margin-left:5px}
table.searchintro{padding:10px 0; width:100%}
table.searchintro td{padding:5px!important}
.mbot{padding-bottom:30px}
.componentheading{font:bold 18px "Times New Roman",Times,serif; text-align:left; line-height:25px}
.pagenav, 
.pagenav_prev, 
.pagenav_next, 
.pagenavbar, .back_button{padding:0 5px}
a.pagenav, 
.pagenav_prev a, 
.pagenav_next a, 
.pagenavbar a, .back_button a{border:none; color:#fff; padding:2px 5px; text-decoration:none}
a.pagenav:hover, a.pagenav:active, 
.pagenav_prev a:hover, .pagenav_prev a:active, 
.pagenav_next a:hover, .pagenav_next a:active, 
.pagenavbar a:hover, .pagenavbar a:active, 
.back_button a:hover, .back_button a:active{color:#000; text-decoration:none}
.pagenavbar{padding-left:14px}
.pagenavcounter{padding:8px 14px 0 14px}
.button{margin-top:10px}
body a, body a:hover{cursor:pointer}
table.pollstableborder td.sectiontableentry1, 
table.pollstableborder td.sectiontableentry2, 
table.pollstableborder tr.sectiontableentry1 td, 
table.pollstableborder tr.sectiontableentry2 td, 
table.pollstableborder_yj1 td.sectiontableentry1_yj1, 
table.pollstableborder_yj1 td.sectiontableentry2_yj1, 
table.pollstableborder_yj1 tr.sectiontableentry1_yj1 td, 
table.pollstableborder_yj1 tr.sectiontableentry2_yj1 td, 
table.pollstableborder_yj2 td.sectiontableentry1_yj2, 
table.pollstableborder_yj2 td.sectiontableentry2_yj2, 

table.pollstableborder_yj2 tr.sectiontableentry1_yj2 td, 
table.pollstableborder_yj2 tr.sectiontableentry2_yj2 td{height:20px; padding-left:5px; text-align:left; padding-right:10px; line-height:18px; margin-bottom:5px; background:none; border:none}
table.pollstableborder{border:none; padding:0; width:100%; text-align:left}
table.pollstableborder img{vertical-align:baseline}
table.pollstableborder td{padding:0 5px !important}
.latestnews_yj1 li, 
.latestnews_yj2 li, 
.latestnews_yj3 li, 
.latestnews_yj4 li, 
.latestnews_advert li, 
.latestnews li, 
.mostread_yj1 li, 
.mostread_yj2 li, 
.mostread_yj3 li, 
.mostread_yj4 li, 
.mostread_advert li, 
.mostread li, 
.blog_more ul li{margin:0; padding:0px 0px 0px 15px}

#mainlevel ul, 
.menu ul{list-style:none; margin:0; padding:0}
#mainlevel, 
.menu{padding:0; text-align:left; margin-left:-26px; margin-right:-8px}
#mainlevel li, 
.menu li, 
.menu li:hover{background-image:none}
#mainlevel li a, 
.menu li a{height:26px; line-height:20px; text-decoration:none; display:block; font-size:12px; text-decoration:none; text-indent:17px; padding-top:5px}

a.mainlevel{display:block; width:100%; font-size:12px; height:26px; line-height:20px; padding-top:5px; text-decoration:none; text-indent:17px}
a.sublevel{display:block; padding:2px 4px 0px 15px; text-decoration:none}
a.sublevel:hover, 
a.sublevel:active, 
a.sublevel:focus{text-decoration:underline}
.module a.sublevel{display:block; padding:0px 4px 12px 15px; margin:0}
/* Tooltips */
.tool-tip {
	background: #FFFFFF;
	border: 1px solid #D5D5D5;
	float: left;
	max-width: 200px;
	padding: 5px;
	z-index: 999;
        text-align: left;
}

.tool-title {
	font-size: 100%;
	font-weight: bold;
	margin: -15px 0 0;
	padding: 15px 0 5px 0;
        text-align: left;
}

.tool-text {
	font-size: 100%;
	margin: 0;
        text-align: left;
}