body, html { margin:0px; font-size:15px; font-family:Arial; color:#444; }
#center { max-width:800px; line-height:18pt; text-align:center; padding:15px; margin:0px auto; }
img { max-width:100%; height:auto; }

.title-extralarge { text-align:center; font-weight:bold; color:#FCB338; font-size:28px; line-height:32px; }
.title-medium { text-align:center; font-weight:bold; color:#FCB338; font-size:18px; }
.middle {}
.title { text-align:center; color:#FCB338; }
.text { text-align:justify; }


