#detailInfo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 20;
}
#detailInfo .model-dialog {
  margin-top: 10px;
  background-color: rgba(71, 77, 93, 0.95);
  color: #FFF;
  padding: 15px;
  width: 90%;
  max-width: 700px;
  border-radius: 5px;
}
#detailInfo td {
  padding: 5px 10px;
  border: none;
}
#detailInfo div {
  padding: 10px;
}
#detailInfo .label {
  text-align: right;
  color: #CCC;
}
#detailInfo a {
  text-decoration: none;
  color: #FEFD7F;
}
#detailInfo a:hover {
  text-decoration: underline;
  outline: none;
}
#detailInfo #photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
#detailInfo #gender {
  width: 16px;
  height: 16px;
}
#detailInfo #personName {
  color: #4CCCA9;
  font-weight: bold;
}
#detailInfo #yearOfBirth {
  color: #FF828A;
}
#detailInfo .level {
  color: #4CCCA9;
}
#detailInfo .child-link {
  margin-right: 10px;
}
#graph {
  border: 1px solid #AAA;
  overflow: hidden;
}
svg {
  font: 10px sans-serif;
}
.linage {
  fill: none;
  stroke: #FEFD7F;
  stroke: #000;
}
.marriage {
  fill: none;
  stroke: #000;
}
.node {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
}
.nodeText {
  font: 10px sans-serif;
  min-height: 52px;
  color: #444;
}
.male {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.female {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
p {
  padding: 15px;
  margin: 0;
}
article {
  max-width: none;
}
article p {
  text-align: center;
}
.select-person {
  width: 150px;
}
.relation-name {
  min-width: 150px;
  display: inline-block;
}
[v-cloak] {
  display: none;
}
.selected {
  box-shadow: 0 0 10px azure,
		0 0 20px aqua,
		0 0 40px dodgerblue,
		0 0 60px blue;
  background-color: #FEFD7F;
}
