#detailInfo {
	position: fixed;
	width: 700px;
	top: 10px;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);

	background-color: rgba(71,77,93, 0.95);
	color: #FFF;
	padding: 15px;
	//border-right: 5px dashed #EEE;
	z-index: 20;
	border-radius: 5px;
	
	td {
		padding: 10px;
		border: none;
	}
	
	div {
		padding: 10px;
	}
	
	span {
		padding: 3px;
	}
	
	.label {
		text-align: right;
		color: #CCC;
	}
		
	a {
		text-decoration: none;
		color: #FEFD7F;
		
		&:hover {
			text-decoration: underline;
			outline: none;
		}
	}

	#photo {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}
	#gender {
		width: 16px;
		height: 16px;
	}

	#personName {
		color: #4CCCA9;
		font-weight: bold;
	}

	#yearOfBirth {
		color: #FF828A;
	}
	.level {
		color: #4CCCA9;
	}
}

#graph { border: 1px solid #AAA; overflow: hidden; }
svg { font: 10px sans-serif; }
.linage { fill: none; stroke: #000; }
.marriage { fill: none; stroke: black; }
.node { background-color: lightblue; border-style: solid; border-width: 1px; border-radius: 0.5em; }
.nodeText{ font: 10px sans-serif; min-height: 52px; }
.male {   background-color: lightblue; border-style: solid; border-width: 1px; cursor: pointer; }
.female { background-color: pink;      border-style: solid; border-width: 1px; cursor: pointer; }
.emphasis { font-style: italic; }
p { padding:15px; margin:0;  }
article { max-width: none;}
article p { text-align: center; }

.select-person { width: 150px; }
.relation-name { min-width: 150px; display: inline-block; }
