@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$size: 80vh;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background: #fff;
  display: flex;
  font-family: 'Varela Round', sans;
  justify-content:center;
  overflow: hidden;
}

.screen {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 5vh;
  box-shadow: 0px 20px 25px 1px rgba(0,0,0,0.3);

  height: $size;
  overflow: hidden;
  position: relative;
  width: $size / 2;
  
  &::before {
    background: #fff;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    content: '';
    height: 3vh;
    left: -25%;
    margin-left: 50%;
    position: absolute;
    top: -1px;
    transform: rotateX(-10deg);
    width: 50%;
    z-index: 1;
  }
  
  &:hover + .hint {
    opacity: 0.4;
    transition: opacity 1200ms ease-out;
  }
}

.stage {
  bottom: 0;
  height: $size;
  left: 0;
  position: absolute;
  transform-origin: 50% 150%;
  transition: transform 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  width: $size / 2;
}

.page {
  bottom: 0;
  left: 0;
  height: $size;
  padding: 0 5vh;
  position: absolute;
  text-align: center;
  transform-origin: 50% 150%;
  width: $size / 2;
  
  /* debug */
  color: #fff;

  &:nth-child(2) { transform: rotateZ(90deg)  }
  &:nth-child(3) { transform: rotateZ(180deg) }    
  &:nth-child(4) { transform: rotateZ(270deg) }
}

.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 9vh;
  margin-top: -4.5vh;
  padding: 0;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: scaleX(0.8);
  transition: opacity 200ms linear;
  width: 7vh;
  
  &:focus{
    outline: none; // Just for demo!
  }
  
  &:hover {
    opacity: 0.7;
  }
}

.arrow {
  fill: #fff;
  height: 7vh;
  width: 7vh;
}

.button_next {
  right: 0;
}

h1 {
  font-size: 5vh;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 3vh;
}

p {
  font-size: 3vh;
  line-height: 1.2;
  margin-bottom: 5vh;
}

.button_fake {
  background-color: #ff655b;
  border-radius: 3vh;
  font-size: 2.7vh;
  margin: 0 auto;
  line-height: 1;
  padding: 1.5vh;
  text-transform: uppercase;
  width: 25vh;
}

.cupcake {
  height: 25vh;
  width: 25vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.hint {
  color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  margin-top: -4vh;
  margin-left: 3vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms ease-out;
  transform: rotateZ(-13deg)
}

.arrow_small {
  fill: silver;
  height: 5vh;
  width: 5vh;
}