*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	height: 100vh;
	min-height: 199px;
	width: 100vw;
	min-width: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FAFAFA;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*- - - - - - C A L L - B U T T O N S - - - - - */

a{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #212121;
	text-decoration: none;
	opacity: .6;
	transition: .2s ease-in-out;
}

	a:hover{
		opacity: 1;
	}

		a:hover span{
			-webkit-animation: vibrate 2s .6s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}

         span{
            display: inline-block;
         }

			a:hover span::before{
				position: absolute;
				margin-top: -45px;
				margin-left: 4px;
				content: "🎶";
				font-size: 24px;
				z-index: -1;
				opacity: 0;
            /* ⬇ Weird animation flicker in Safari 👀...fix suggestions? 🗣*/
				-webkit-animation: sound 2s .6s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			}

a:first-of-type{
	margin-right: 50px;
}

@keyframes sound {
	0% { margin-top: 0px; opacity: 1; }
}

@keyframes vibrate {
	2% { transform: rotate(15deg); }
	4% { transform: rotate(0deg); }
	6% { transform: rotate(-15deg); }
	8% { transform: rotate(0deg); }
	92% { transform: rotate(0deg); }
	94% { transform: rotate(15deg); }
	96% { transform: rotate(0deg); }
	98% { transform: rotate(-15deg); }
}
