.logged-only-block, .not-logged-only-block { display: none; }
.logged .logged-only-block { display: block; }
.not-logged .not-logged-only-block { display: block; }
.date-label { text-transform: capitalize; }