*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: rgb(65, 65, 65);
  --yellow:rgb(255, 223, 112);
  --orange:rgb(255, 140, 42);
}

body {
  background: #f0f0f0;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
}

.canvas {
  width: 400px;
  height: 400px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.canvas>.center {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 50%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  left: 50%;
  margin: -175px 0 0 -175px;
  background: linear-gradient(to bottom right, var(--yellow) , var(--orange) )
}

.atom {
  background: var(--grey);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(var(--deg)) scale(1.5, .5);
          transform: translate(-50%, -50%) rotate(var(--deg)) scale(1.5, .5);
  border: 3px solid var(--grey);
  border-radius: 50%;
}

.circle>.rotate {
  width: 80%;
  height: 80%;
  -webkit-animation: circle 10s infinite linear;
          animation: circle 10s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(var(--deg));
          transform: translate(-50%, -50%) rotate(var(--deg));
}

.circle>.crotate {
  width: 20px;
  height: 20px;
  -webkit-animation: ccircle 10s infinite linear;
          animation: ccircle 10s infinite linear;
}

.circle:nth-child(2) {
  --deg: 45deg;
}

.circle:nth-child(3) {
  --deg: -45deg;
}

.circle:nth-child(4) {
  --deg: 0deg;
}

.circle:nth-child(5) {
  --deg: 90deg;
}


.circle:nth-child(2)>.rotate{
  --deg: 10deg;
}

.circle:nth-child(2)>.rotate {
  --deg: 60deg;
}
.circle:nth-child(2)>.rotate{
  --deg: 160deg;
}
.circle:nth-child(2)>.rotate{
  --deg: 135deg;
}

.blob {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: var(--grey);
  border-radius: 50%;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: translate(-50%, -50%) rotateZ(var(--deg));
            transform: translate(-50%, -50%) rotateZ(var(--deg))
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateZ(calc(360deg + var(--deg)));
            transform: translate(-50%, -50%) rotateZ(calc(360deg + var(--deg)))
  }
}

@keyframes circle {
  from {
    -webkit-transform: translate(-50%, -50%) rotateZ(var(--deg));
            transform: translate(-50%, -50%) rotateZ(var(--deg))
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateZ(calc(360deg + var(--deg)));
            transform: translate(-50%, -50%) rotateZ(calc(360deg + var(--deg)))
  }
}

@-webkit-keyframes ccircle {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg)
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
  }
}

@keyframes ccircle {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg)
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
  }
}