#myElement {
  background: blue;
  height: 140px;
  width: 140px;
  left: 30px;
  top: 30px;
  position: absolute;
  font: 25px Helvetica, Arial, sans-serif;
  color: white;
  line-height: 140px;
  text-align: center;
}

#status {
  height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background: lightgray;
  padding: 8px 5px 0 10px;
  font: 85% Helvetica, Arial, sans-serif;
  border-top: 1px solid darkgray;
}
