body {
  padding: 2em;
}

.button--slime {
  display: inline-block;
}

.button--slime:after {
  content: '';
  display: block;
  width: 90px;
  height: 85px;
  background-image: url("https://www.goodfreephotos.com/albums/vector-images/dripping-slime-vector-clipart.png");
  background-repeat: none;
  background-size: 100% auto;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button--slime:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}
