progress, input[type=range] { width: 100%; border: none; height: 7px; margin: 0; }

.container { /*border-top: dashed 1px #000; padding-top: 5px;*/ }
.container img { max-width: 100%; }
.question { font-weight: bold; }
.answer { font-style: italic; }
.checked { font-weight: bold; }
.sitChecked { color: darkcyan; }
.satChecked { color: plum; }
#mainContent { max-width: 550px; }
#puzzle button { border: none; background: none; color: blue;  cursor: pointer;  }
#control { background-color: #EEE; margin-bottom: 15px; padding-bottom: 5px; }
#control button { float: right; margin-right: 5px; }

@media screen and (min-width: 600px) {
	.container img { width: 100%; height: 300px; }
	.question { height: 60px; }
}
