@font-face {
	font-family: Fit;
	src: url(https://djr.com/fit/assets/Fit-Variable_Demo_Purposes_Only.woff2);
    /* see copyright notice below */
}

@font-face {
	font-family: Venn;
	src: url(https://www.axis-praxis.org/fonts/codepen/VennVF.woff2);
}

.ftw {
	font-size: 72px;
}

.ftw:nth-child(odd) {
	font-family: Fit;
}

.ftw:nth-child(even) {
	font-family: Venn;
}

.notice {
	width: 600px;
	border: 1px solid black;
	padding: 12px;
}

input[type=range] {
    width: 400px;
}

/* 
Fit Variable 
https://djr.com/fit

This document references Fit, a font that is licensed to Laurence Penney. Special permission has been granted to crosslink to it for demo purposes only.
You must obtain an appropriate license at <https://djr.com/fit> before linking to this font or using it in any other context.
*/

