.clearable {
    position: relative;
}

.clearable input {
	padding-right: 25px;
}

.clearable .x {
	cursor: pointer;
	font-weight: bold;
	color: #E06950;
	display: inline-block;
	transition: all 0.2s;
    font-size: 20px;

	/*transform: translate(-12px, 1px);*/
    position: absolute;
    right: 0;
	opacity: 0;
}

.clearable .x.open {
	/*transform: translate(-16px, 1px);*/
    right: 9px;
	opacity: 1;
}
