* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  text-align: center;
}

p {
  padding: 10px;
}

button {
  padding: 5px 10px;
}



header {
  background: deeppink;
  color: white;
  padding: 1rem;
}

main {
  background: whitesmoke;
  color: #444;
  padding: 1rem;
}

footer {
  background: #42A5F5;
  color: white;
  padding: 1rem;
}
