.noti {
  position: fixed;
  top: 5px;
  z-index: 399999;
  width: 320px;
  left: calc(50% - 160px);
}
.noti .alert {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  color: white;
}
.noti .alert-error {
  background-color: #f44336;
}
.noti .alert-success {
  background-color: #4caf50;
}
.noti .alert-info {
  background-color: rgba(33, 150, 243, 0.9);
}
.noti .alert-warning {
  background-color: #ff9800;
}
.noti .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: color 0.3s;
}
.noti .closebtn:hover {
  color: black;
}
.noti-confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 299999;
  background-color: rgba(0, 0, 0, 0.5);
}
.noti-confirm .confirm-dialog {
  width: 90%;
  max-width: 400px;
  margin: 10% auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  user-select: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-size: 20px;
  border-radius: 0.2em;
}
.noti-confirm .confirm-dialog .confirm-message {
  padding: 35px 30px;
  color: #000;
  text-align: center;
}
.noti-confirm .confirm-dialog .confirm-buttons .button {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  width: 50%;
  padding: 25px;
  text-align: center;
  text-decoration: none;
}
.noti-confirm .confirm-dialog .confirm-buttons .button.accept {
  background-color: #34BC9D;
  border-radius: 0 0 0 0.2em;
}
.noti-confirm .confirm-dialog .confirm-buttons .button.accept:hover {
  background-color: #46CFB0;
}
.noti-confirm .confirm-dialog .confirm-buttons .button.reject {
  background-color: #fc7169;
  border-radius: 0 0 0.2em 0;
}
.noti-confirm .confirm-dialog .confirm-buttons .button.reject:hover {
  background-color: #fc8982;
}
/* The Modal (background) */
.noti-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 199999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}
.noti-modal .modal-content {
  position: relative;
  background-color: #2D3136;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* The Close Button */
}
.noti-modal .modal-content .close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.noti-modal .modal-content .close:hover,
.noti-modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.noti-modal .modal-content .modal-header {
  padding: 15px;
}
.noti-modal .modal-content .modal-header h1,
.noti-modal .modal-content .modal-header h2,
.noti-modal .modal-content .modal-header h3,
.noti-modal .modal-content .modal-header h4,
.noti-modal .modal-content .modal-header h5,
.noti-modal .modal-content .modal-header h6 {
  background-color: transparent;
}
.noti-modal .modal-content .modal-body {
  padding: 15px;
}
.noti-modal .modal-content .modal-footer {
  padding: 15px;
  text-align: right;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
