body{font-family:georgia,serif;	background: white;
	font-size: 11pt;}
a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	}
.article content a:link:after, .article a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 75%;
   }

#top{display:none;}
