* { border: 0; margin: 0; padding: 0; }
h3 { margin-top: 5px; margin-bottom: 5px; }
ul { padding-left: 25px; }
strong { color: #FF0000; }
body { background: #666666 url(img/background.jpg) repeat; }
a { text-decoration: none; }
a:hover { color: #e77513; }
button {
	color: #555;
	cursor: pointer;
	height: 25px;
	margin-right: 5px;
	padding: 0 5px;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-top: 5px;
}
button:hover { color: #000; background: -moz-linear-gradient(top, #f5fafa 0%, #bde5f5 100%); }
#main {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	/*background:#3399CC;*/
	background:#FFFFFF;
	margin-top:10px;
	max-height:600px;
	overflow:auto;
	padding:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
}
#content {
	width:100%;
	height:600px;
	background:#FFFFFF;
	border:none;
	border-top:#993399 1px solid;
	border-bottom:#993399 1px solid;
}

#footer {
	text-align:right;
	color:#FFFFFF;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-right:25px;
	font-size:10px;
}

#navigationBar {
	background:transparent;
}

#navigationBar a {
	text-decoration:none;
	color:#CCFF00;	
}

#navigationBar a:hover {
	text-decoration:underline;
}
.myComment {
	color:#FF0000;
}
.step {
	text-decoration:underline;
	font-weight:bold;
}
.myTip {
	background:lightgrey;
	border:darkgreen solid 1px;
}
.myCode {
	background:lightgrey;
	border:darkgreen solid 1px;
}
.code {
	background:#CCCCCC;
	white-space:pre-wrap;
}
