<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <div id="app-2">
        <span v-bind:title="myTitle">
            Rê chuột lên đây một vài giây để xem thuộc tính `title` được bind!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Thoắt ẩn thoắt hiện</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message"/>
        <!--button v-on:click="changeMessage">Thay đổi thông điệp</button-->
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for="e in groceryList"
                v-bind:todo="e">
            </todo-item>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Do you wanna build a Vue app?'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                myTitle: 'Bạn đã ở trang web này vào ' + new Date().toLocaleString()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: false
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Học JavaScript' },
                    { text: 'Học Vue' },
                    { text: 'Xây dựng cái gì đó hay ho' }
                ]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'qua lại khách chờ sông lặng sóng'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split(' ').reverse().join(' ');
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hãy sửa thông điệp này'
            }
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        });

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 1, text: 'Cà pháo' },
                    { id: 2, text: 'Mắm tôm' },
                    { id: 3, text: 'Thịt chó' }
                ]
            }
        });
    </script>
</body>
</html>
