.main
	.banner
		.banner-content
			h1 Rick Deckard
			.location Los Angeles, CA
			a.button.banner-button Connect
		
	.content
		ul.tabs
			li.tab.selected
				a Overview
			li.tab
				a Skills
			li.tab
				a Projects
			li.tab
				a Contact
		.tab-panes
			.tab-pane
				h2 Skills
				canvas#skills-radar.skills-radar
				h2 Bio
				p Renowned planet-wide for his bug-detection skills, Deckard's 15 years experience as a bounty-hunter can't be beaten. Deckard specializes in intrusion prevention and error-prone code retirement.