body {
    background-color: black ! important;
    font: bold 12px verdana,sans-serif ! important;
    color: #276EE8 ! important;
    margin:0px;
}

canvas {
    background-color: #000000;
}

#DigiRain{
    position:fixed;
    z-index:-999;
    display:inline-block;
    top:0px;
    left:0px;
}
