#container {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;
}
#container td {
    width: 50%;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #EEE;
}
#edit {
    width: 100%;
    height: 475px;
    resize: none;
    word-wrap: break-word;
    border: none;
}
#preview {
	height: 475px;
	overflow: auto;
}
#preview p {
    margin: 5px 0;
}
#preview h1, #preview h2, #preview h3 {
    margin: 7px 0;
}
#preview pre {
	background-color: #EEE;
}
