html, body { margin:0; padding:0; width:100%; height:100%; }
body { background:#ffc107; }
.scene { width:500px; height:500px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border-bottom:10px solid saddlebrown; overflow:hidden; }
.clock { width:500px; height:500px; border-radius:50%; border:20px solid darkorange; box-sizing:border-box; position:absolute; top:100px; left:0; }
.clock::before { content:""; width:420px; height:420px; border-radius:50%; border:10px solid orange; position:absolute; top:10px; left:10px; }
.clock::after { content:""; width:50px; height:50px; border-radius:50%; background-color:darkorange; position:absolute; top:205px; left:205px; }
.hand::before { content:""; width:30px; height:100px; border-radius:15px; position:absolute; top:230px; left:215px; background-color:orange; transform-origin:top; border:5px solid darkorange; box-sizing:border-box; animation:tide 40s linear infinite; }
.hand::after { content:""; width:30px; height:180px; border-radius:15px; position:absolute; top:230px; left:215px; background-color:orange; transform-origin:top; border:5px solid darkorange; box-sizing:border-box; animation:tide 5s linear infinite; }

.person { width:200px; height:100px; position:absolute; bottom:0; left:140px; opacity:0.8; }
.sofa { width:100px; height:10px; position:absolute; bottom:5px; left:50px; background-color:firebrick; border-radius:5px; }
.sofa::after { content:""; width:60px; height:10px; position:absolute; bottom:0; left:95px; background-color:firebrick; border-radius:5px; transform-origin:left; transform:rotateZ(-40deg); }
.sofa::before { content:""; width:80px; height:5px; position:absolute; top:10px; left:10px; border-left:2px solid firebrick; border-right:2px solid firebrick; }
.body { width:40px; height:25px; position:absolute; bottom:25px; left:130px; background-color:purple; border-radius:20px; transform:rotateZ(-40deg); }
.body::after { content:""; width:20px; height:20px; border-radius:50%; position:absolute; top:5px; right:-18px; background-color:indigo; }
.leg1 { width:30px; height:15px; position:absolute; bottom:16px; left:110px; background-color:indigo; border-radius:10px; }
.leg1::before { content:""; width:30px; height:15px; position:absolute; bottom:0; left:-25px; background-color:indigo; border-radius:10px; }
.leg1::after { content:""; width:10px; height:20px; position:absolute; bottom:0; left:-30px; background-color:purple; border-radius:5px; }
.leg2 { width:30px; height:15px; position:absolute; bottom:13px; left:110px; background-color:blueviolet; border-radius:10px; z-index:1; transform:rotateZ(45deg); transform-origin:right; }
.leg2::before { content:""; width:30px; height:15px; position:absolute; bottom:0; left:-22px; background-color:blueviolet; border-radius:10px; transform:rotateZ(-75deg); transform-origin:right; }
.hands { width:25px; height:8px; background-color:blueviolet; border-radius:5px; position:absolute; bottom:32px; left:144px; transform:rotateZ(-40deg); }
.sleep { font-weight:bold; font-family:sans-serif; font-size:0.6em; position:absolute; bottom:44px; left:165px; z-index:-1; animation:snore 2s ease-in infinite; }

@keyframes tide {
  to {
    transform:rotateZ(360deg);
  }
}

@keyframes snore {
  to {
    transform: translateY(-50px); opacity: 0;
  }
}
