body { /*max-width: 540px;*/ margin: 20px auto; padding: 5px; }
.header { margin-bottom: 50px; }
.categories {  }
.category { margin-bottom: 20px; display: grid; grid-template-columns: 50px 100px auto 50px; display: flex; }
.category i.cat { font-size: 24px; width: 30px; }
.category .cat-name { color: #777; display: inline-block; width: 150px; padding-left: 15px; }
.category .money-number { border: none; border-bottom: 1px dashed #AAA; text-align: right; height: 25px; width: 80px;
		padding: 2px 5px 2px 5px; box-shadow: none; outline: 0 none;
		background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
		transition: background 0.4s; margin-right: 7px; }
.category .money-number:focus { border-bottom: 1px solid #00ad8b; }
.category i.clear { font-size: 12px; color: red; cursor: pointer; }

.div_start { float:right; }
.start_button { border:0; background-color:transparent; padding:0; }
.results { border:1px solid #ddd; padding:15px; min-height:70px; }
.interim { color: red; }
.final { padding-right:3px; color: blue; }