:root {
    --black: #191919;
    --orange: #ff8c00;
    --yellow: #ffff00;
    --green: #26d53a;
    --turquoise: #26e6a3;
    --blue: #1da8e2;
    --violet: #5916ba;
    --pink: #d418d9;

    --lineWidth: 1%;
    --borderRadius: 5px;
    --lineTop: 48%;
    --lineHeight: 5%;
}

body {
    background: var(--black);
}

.box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
}

.line {
    position: absolute;
    width: var(--lineWidth);
    border-radius: var(--borderRadius);
}
