//body { max-width: 600px; margin: 10px auto; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
section { padding: 5px; }
#contentWrap {
	article {
		img { max-width: 100%; }
		p { text-align: justify; }
	}
}
nav {
	padding: 5px;
	div {
		margin-bottom: 5px;
		img {
			width: 64px; height: 64px; border-radius: 100px; vertical-align: middle;
		}
	}
}
