/* Ẩn iframe */
iframe {
    display: none;
}

/* Ẩn footer */
footer {
    display: none !important;
}

/* Ẩn liên hệ quảng cáo */
.button_menu_cate {
    display: none !important;
}

#sticky_300 {
    display: none !important;
}

.grid300 {
    display: none !important;
}