#col_3 {
    display: none !important;
}

#wrapper_footer {
    display: none !important;
}
.title_news_block_980 {
    display: none !important;
}
.content_news_980 {
    display: none !important;
}

.box_sanpham.height_116 {
    display: none !important;
}

#myvne_taskbar {
    display: none !important;
}