/*
The idea is a box with zero width and height.
The actual width and height of the arrow is determined by the width of the border.
In an up arrow, for example, the bottom border is colored while the left and right are transparent,
which forms the triangle.
*/

@size: 30px;

.arrow {
	width: 0;
  height: 0;
	border: none;
}

.arrow-up {
  .arrow;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid black;
}

.arrow-down {
  .arrow;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-top: @size solid #f00;
}

.arrow-right {
  .arrow;
  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-left: @size solid green;
}

.arrow-left {
  .arrow;
  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-right: @size solid blue; 
}

.arrow-all {
	.arrow;
	border-top: @size solid #f00;
	border-bottom: @size solid black;
	border-left: @size solid green;
	border-right: @size solid blue;
}

.temp {
	content: '';
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 18px;
	height: 18px;
	position: absolute;
	background-color: white;

	top: -1px;
}

.steps1 {
    //margin: auto;
    //padding: 20px;
    //min-width: 700px;

		div {
				display: inline-block;
				position: relative;
				height: 25px;
				line-height: 25px;
				padding: 0 20px;
				border: 1px solid #ccc;
				margin-right: 2px;
				background-color: white;


				&.left {
					&::before {
						.temp;
						
						z-index: 50;
						left: 0; // o ben trai
						transform: translate(-10px, 4px) rotate(45deg);
					}
				}

				&.right {
					&::after {
						.temp;

						z-index: 150; // cao hon left de ghi de
						right: 0; // o ben phai
						transform: translate(10px, 4px) rotate(45deg);
					}
				}

				&.active {
					background-color: green;
					color: white;

					&::after {
						background-color:green;
					}
				}
		}
}

ul.steps {
	/*
	padding-left: 0;
	list-style: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1;
	margin: 30px auto;
	border-radius: 3px;*/

	li {
		position: relative;
		display: block;
		padding: 12px 50px 8px 50px; 
		width: 140px;
		height: 40px;



		strong {
			display: block;
			//font-size: 14px;
			//line-height: 1.4;
		}
	}
}

@media (min-width: 768px) {
  .steps {
		
		&::after {
			content: " ";
			height: 1px;
			display: block;
			clear: both;
		}

		li {
			float: left;

			&.past { color: #666; background: #ececec; }
			&.present { color: #000; }
			&.future { color: #777; background: #efefef; }

			span {
				&::after, &::before {
					content: "";
					display: block;
					width: 0px;
					height: 0px;
					position: absolute;
					top: 0;
					left: 0;
					border: solid transparent;
					border-left-color: #f0f0f0;
					border-width: 30px;
				}

				&::before {
					z-index: 2;
				}

				&::after {
					top: -5px;
					z-index: 1;
					border-left-color: white;
					border-width: 34px;
				}
			}
		
			&:first-child {
				span {
					&::before, &::after {
						display: none;
					}
				}
			}

			/* Arrows at start and end */
			&:first-child i,
			&:last-child i {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border: solid transparent;
				border-left-color: white;
				border-width: 30px;
			}

			&:last-child {
				i {
					left: auto;
					right: -30px;
					border-left-color: transparent;
					border-top-color: white;
					border-bottom-color: white;
				}
			}
		}
	}

  .steps li.past + li > span:before { border-left-color: #ececec; }
  .steps li.present + li > span:before { border-left-color: #fff; }
  .steps li.future + li > span:before { border-left-color: #efefef; }
}