.wikia-gallery-item { margin:1px; padding:15px; vertical-align:top; display:inline-block; text-align:center; width:187px; }
.thumb { height:187px; }
.gallery-image-wrapper { margin:0px auto; height:184px; width:121px; }
.lightbox-caption { margin:8px 0px 5px; padding:3px 0px; font-size:12px; line-height:16px; color:gray; width:185px; }
a { text-decoration:none; color:rgb(0, 108, 176); }
